blocky-detail.html
<!DOCTYPE html>
<!--if IE 7<html class='no-js lt-ie9 lt-ie8 ie7 lang='en'>
-->
<!--if IE 8<html class='no-js lt-ie9 ie8' lang='en'>
-->
<!--if IE 9<html class="no-js ie9">
-->
<!--if gt IE 9<html class="no-js gt-ie9">
-->
<!--if !IE
<![IGNORE[--><!--[IGNORE[]]-->
<html class="no-js noie">
<!--
-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>Zelená Pošta</title>
  <meta name="author" content="Lighting Beetle s.r.o.">
  <meta name="description" content="Zelená Pošta">
  <meta name="keywords" content="Zelená Pošta">
  <link rel="icon" type="image/png" href="static/imgs/zep-favicon.png">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,600,700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="static/plugins/icomoon/style.css">
  <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
  <header class="header-main">
    <div class="header-bar">
      <section class="header-bar-right">
        <div class="header-control-bar"><a class="btn btn-white-2 pull-right">Odhlásiť</a>
          <div class="header-control-tabs"><a data-target="#main-nav" data-toggle="dropdown" class="header-control-tab show-s show-xs js-toggle"><span class="header-notify text-small">84</span><i class="icon icon-s">navicon</i></a><a data-target="#user-bar" data-toggle="dropdown" class="header-control-tab show-s show-xs js-toggle"><i class="icon icon-s">user</i></a><a href="nastavenia.html" class="header-control-tab"><i class="icon icon-s">settings</i></a></div>
        </div>
        <!-- end: header-control-bar-->
        <div id="user-bar" class="header-user-bar">
          <table>
            <tr>
              <td class="header-user-bar_info"><a class="header-user-bar_info_name">Michaela Kočiová</a><br><span class="header-user-bar_info_email">100-122-893@zelenaposta.sk</span></td>
              <td class="header-user-bar_credit"><a><b class='hide-xs'>Kredit:</b> 1984,00 &euro;</a></td>
            </tr>
          </table>
        </div>
        <!-- end: header-user-bar-->
        
      </section>
      <section class="header-bar-left hide-s"><a href="index.html" title="Zelená pošta" class="header-logo"><img src="static/imgs/zep-logo.svg" alt="Zelená pošta" class="img-fluid"></a></section>
      <section id="main-nav" class="header-bar-mid">
        <nav class="header-nav-bar">
          <ul class="header-nav-bar_list">
            <li class="header-nav-bar_list_item"><a href="index.html" class="header-nav-bar_list_link  ">
                 
                Prehľad
                <span class="header-notify text-small hide-s">84</span></a></li>
            <li class="header-nav-bar_list_item"><a href="schranka.html" class="header-nav-bar_list_link  with-subnav">
                 
                Schránka
                </a></li>
            <li class="header-nav-bar_list_item"><a href="dokumenty.html" class="header-nav-bar_list_link active with-subnav">
                 
                Dokumenty
                </a></li>
            <li class="header-nav-bar_list_item"><a href="sluzby.html" class="header-nav-bar_list_link  ">
                 
                Služby
                </a></li>
            <li class="header-nav-bar_list_item"><a href="kalendar.html" class="header-nav-bar_list_link  ">
                 
                Kalendár
                </a></li>
            <li class="header-nav-bar_list_item"><a href="statistiky.html" class="header-nav-bar_list_link  ">
                 
                Štatistiky
                </a></li>
          </ul>
        </nav>
      </section>
    </div>
    <!-- end: header-bar   -->
  </header>
  <div class="subheader-main">
    <div class="subheader-bar">
      <ul class="subheader-nav-bar">
        <li class="subheader-nav-bar_item"><a href="dokumenty.html" class="subheader-nav-bar_link">Nahraté dokumenty</a></li>
        <li class="subheader-nav-bar_item"><a href="blocky.html" class="subheader-nav-bar_link active">Bločky</a></li>
      </ul>
    </div>
    <!-- end: subheader bar-->
  </div>
  <!-- end: subheader-main-->
  <div class="breadcrumbs"><a onclick="history.back()">&lsaquo; Späť</a>
    <ul class="breadcrumbs_list hide-xs">
      <li class="breadcrumbs_item"><a href="index.html" class="breadcrumbs_link">Domov</a></li>
      <li class="breadcrumbs_item">&rsaquo;</li>
      <li class="breadcrumbs_item"><a href="dokumenty.html" class="breadcrumbs_link">Dokumenty</a></li>
      <li class="breadcrumbs_item">&rsaquo;</li>
      <li class="breadcrumbs_item"><a href="blocky.html" class="breadcrumbs_link">Bločky</a></li>
      <li class="breadcrumbs_item">&rsaquo;</li>
      <li class="breadcrumbs_item"><a href="blocky-detail.html" class="breadcrumbs_link">Detail</a></li>
    </ul>
  </div>
  <main class="content-main">
    <div class="grid-12col">
      <div class="row">
        <div class="col-12 col-s-3 ofst-s-center col-xs-2">
          <div class="row">
            <div class="col col-s-4">
              <div class="btnline"><a class="btn btn-green btn-full-xs"><i class="icon icon-left">download</i>Stiahnuť</a><a data-modal-target="popup-link" class="btn btn-green btn-full-xs"><i class="icon icon-left">link</i>Verejný link</a><a href="blocky-upravit.html" class="btn btn-green hide-s btn-full-xs">Upraviť</a><a data-modal-target="popup-delete-document" class="btn btn-orange btn-full-xs">Vymazať</a></div>
            </div>
            <div class="col col-s-4 pull-right col-space-s">
              <div class="btnline pull-right pull-left-s">
                <button type="button" data-modal-target="modal-bill-lotery-new" class="btn btn-white"><i class="icon">tipos</i><span class="hide-m"> Národná bločková lotéria</span></button>
                <button type="button" data-modal-target="note-new" class="btn btn-white"><i class="icon">note</i></button>
                <button type="button" data-modal-target="reminder-new" class="btn btn-white"><i class="icon">bell</i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-m-3 col-s-3 ofst-s-center col-xs-2">
          <article class="box-simple">
            <header class="box-simple_header">
              <h3 class="no-mrg">Informácie o bločku</h3>
            </header>
            <div class="box-simple_content">
              <div class="form-row">
                <div class="form-label form-label-inline form-label-stack-xs form-col-6">
                  <label>Obchod:</label>
                </div>
                <div class="form-controls form-col-6">
                  <label class="input-static">Divný Janko</label>
                </div>
              </div>
              <div class="form-row">
                <div class="form-label form-label-inline form-label-stack-xs form-col-6">
                  <label class="text-left">Cena:</label>
                </div>
                <div class="form-controls form-col-6">
                  <label class="input-static">3,70 &euro;</label>
                </div>
              </div>
              <div class="form-row">
                <div class="form-label form-label-inline form-label-stack-xs form-col-6">
                  <label class="text-left">Dátum kúpy:</label>
                </div>
                <div class="form-controls form-col-6">
                  <label class="input-static">18. nov. 2014</label>
                </div>
              </div>
              <div class="form-row">
                <div class="form-label form-label-inline form-label-stack-xs form-col-6">
                  <label class="text-left">Záruka:</label>
                </div>
                <div class="form-controls form-col-6">
                  <label class="input-static">12 mesiacov</label>
                </div>
              </div>
              <div class="form-row">
                <div class="form-label form-label-inline form-label-stack-xs form-col-6">
                  <label class="text-left">Kategória:</label>
                </div>
                <div class="form-controls form-col-6">
                  <label class="input-static">Jedlo</label>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="col-6 col-m-3 col-s-3 ofst-s-center col-xs-2">
          <article class="box-simple document-preview">
            <header class="box-simple_header">
              <h3 class="no-mrg">Náhľad nahratého dokumentu</h3>
            </header>
            <div class="box-simple_content">
              <ul class="bxslider lb">
                <li><a href="static/imgs/placeholders/vzor-blocek.jpg" rel="lightbox" class="bxslider-lightbox_open"><i class="icon icon-m">search</i></a><img src="static/imgs/placeholders/vzor-blocek.jpg" alt=""></li>
              </ul>
            </div>
          </article>
        </div>
      </div>
    </div>
  </main>
  <article data-modal-id="reminder-new" class="modal">
    <header class="modal_header">
      <h3 class="no-mrg"> <i class="icon text-color-green">bellfill</i> Pripomienka</h3><a class="modal-close"><i class="icon">closesmall</i></a>
    </header>
    <div class="modal_content no-pad">
      <div class="reminder-inmodal">
        <div class="reminder-inmodal_header text-small"><span>Západoslovenská energetika a.s.</span><span>Faktúra z dňa 2.9.2014 o 15:55</span></div>
        <form class="reminder-inmodal_content">
          <div class="form-row">
            <div class="form-label form-label-inline form-col-4 form-label-stack-xs text-left">
              <label>Pripomenúť</label>
            </div>
            <div class="form-controls form-controls-inline form-col-push-right">
              <div class="form-control form-control-postfixed form-control-fixed-5 no-mrg">
                <input type="text" placeholder="dd.mm.yyyy" data-date-format="dd.mm.yyyy" class="input js-datepicker">
                <div class="form-control-addon"><a class="btn btn-green js-datepicker-btn"><i class="icon">calendar</i></a></div>
              </div>
              <div class="form-control form-control-postfixed form-control-fixed-3 no-mrg">
                <input type="text" placeholder="00:00" class="input js-timepicker">
                <div class="form-control-addon"><a class="btn btn-green"><i class="icon">clock</i></a></div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <footer class="modal_footer">
      <div class="btnline text-right">
        <button type="button" class="btn modal-cancel">Zrušiť</button><a class="btn btn-green modal-confirm">Uložiť</a>
      </div>
    </footer>
  </article>
  <article data-modal-id="modal-bill-lotery" class="modal">
    <header class="modal_header">
      <h3 class="no-mrg"> <i class="icon text-color-darkgreen">tipos</i> Národná bločková lotéria</h3><a class="modal-close"><i class="icon">closesmall</i></a>
    </header>
    <div class="modal_content">
      <p class="no-mrg-top">Váš bloček bol zapojený do Národnej bločkovej lotérie s nasledovnými údajmi:</p>
      <div class="form-row">
        <div class="form-label form-label-inline form-label-stack-xs form-col-3 form-col-s-3">
          <label>DKP:</label>
        </div>
        <div class="form-controls form-col-7">
          <div class="form-control">
            <label class="input-static">124578168761541</label>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-label form-label-inline form-label-stack-xs form-col-3 form-col-s-3">
          <label>Čas kúpy::</label>
        </div>
        <div class="form-controls form-col-7">
          <div class="form-control">
            <label class="input-static">21.12.2014</label>
          </div>
        </div>
      </div>
    </div>
    <footer class="modal_footer">
      <div class="btnline text-right">
        <button type="button" class="btn modal-cancel">Zrušiť</button>
        <button type="button" class="btn btn-green modal-confirm">Nahrať</button>
      </div>
    </footer>
  </article>
  <article data-modal-id="modal-bill-lotery-new" class="modal">
    <header class="modal_header">
      <h3 class="no-mrg"> <i class="icon text-color-darkgreen">tipos</i> Národná bločková lotéria</h3><a class="modal-close"><i class="icon">closesmall</i></a>
    </header>
    <div class="modal_content">
      <p class="no-mrg-top">Pre zapojenie sa do Národnej bločkovej lotérie je potrebné vyplniť nasledovné údaje:</p>
      <div class="form-row">
        <div class="form-label form-label-inline form-label-stack-xs form-col-3 form-col-s-3">
          <label>DKP:</label>
        </div>
        <div class="form-controls form-col-7">
          <div class="form-control">
            <input type="text" placeholder="" class="input">
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-label form-label-inline form-label-stack-xs form-col-3 form-col-s-3">
          <label>Čas kúpy::</label>
        </div>
        <div class="form-controls form-col-7">
          <div class="form-control">
            <input type="text" placeholder="" class="input">
          </div>
        </div>
      </div>
    </div>
    <footer class="modal_footer">
      <div class="btnline text-right">
        <button type="button" class="btn modal-cancel">Zrušiť</button>
        <button type="button" class="btn btn-green modal-confirm">Nahrať</button>
      </div>
    </footer>
  </article>
  <article data-modal-id="note-new" class="modal">
    <header class="modal_header">
      <h3 class="no-mrg"> <i class="icon text-color-green">bellfill</i> Poznámka</h3><a class="modal-close"><i class="icon">closesmall</i></a>
    </header>
    <div class="modal_content no-pad">
      <div class="note-inmodal">
        <div class="note-inmodal_header text-small"><span>Západoslovenská energetika a.s.</span><span>Faktúra z dňa 2.9.2014 o 15:55</span></div>
        <form class="note-inmodal_content">
          <textarea rows="4" placeholder="Vložte vašu poznámku" class="input"></textarea>
        </form>
      </div>
    </div>
    <footer class="modal_footer">
      <div class="btnline text-right">
        <button type="button" class="btn modal-cancel">Zrušiť</button>
        <div class="btn btn-green modal-confirm">Uložiť</div>
      </div>
    </footer>
  </article>
  <article data-modal-id="popup-link" class="modal modal-popup">
    <header class="modal_header modal-popup_header">
      <h3 class="no-mrg"> <i class="icon text-color-darkgreen">link</i>Verejný link</h3><a class="modal-close"><i class="icon">closesmall</i></a>
    </header>
    <div class="modal_content modal-popup_content">
      <div class="form-row">
        <div class="form-label form-col-12">
          <label>Verejný link pre váš dokument:</label>
        </div>
        <div class="form-controls form-col-12">
          <div class="form-control">
            <input type="text" value="https://www.zelenaposta.sk/en.wikipedia.org/wiki/Simulacra_and_Simulation" class="input">
          </div>
        </div>
      </div>
      <div class="btnline">
        <button type="button" class="btn modal-close">Zavrieť</button>
      </div>
    </div>
  </article>
  <article data-modal-id="popup-delete-documents" class="modal modal-popup">
    <header class="modal_header modal-popup_header">
      <h3 class="no-mrg"> <i class="icon text-color-darkgreen">info</i> Vymazanie dokumentov</h3><a class="modal-close"><i class="icon">closesmall</i></a>
    </header>
    <div class="modal_content modal-popup_content">
      <p class="no-mrg-top">Lorem ipsum Veniam commodo in Duis magna. <br/> Lorem ipsum Nisi exercitation?</p><a class="btn btn-green modal-confirm">Áno, potvrdiť vymazanie</a>
    </div>
  </article>
  <footer class="footer-main text-color-white">
    <div class="grid-12col">
      <div class="row">
        <div class="col-6 col-s-4 col-xs-2">
          <h3 class="footer-main_headline text-color-white">Zelená pošta</h3>
          <div class="row">
            <ul class="col-6 col-xs-2 nav-footer">
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Zelená pošta</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Posielať zásielky</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Prijímať zásielky</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Zelené tlačiareň</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Bločky</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Cenník</a></li>
            </ul>
            <ul class="col-6 col-xs-2 nav-footer">
              <li class="nav-footer_item"><a href="" class="nav-footer_link">O nás</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Novinky</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">FAQ</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Kontakt</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Všeobecné obchodné podmienky</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">API prepojenie</a></li>
            </ul>
          </div>
        </div>
        <div class="col-6 col-s-4 col-xs-2 col-space-s">
          <div class="row">
            <div class="col-6 col-xs-2 col-space-xs">
              <h3 class="footer-main_headline text-color-white">Mobilné aplikácie</h3>
              <ul class="nav-footer">
                <li class="nav-footer_item"><a href="https://itunes.apple.com/gb/app/zelena-posta/id687733400" class="nav-footer_link nav-footer_app"> <i class="icon icon-xl">apple</i></a><a href="https://play.google.com/store/apps/details?id=sk.zp.zelenapostaapp" class="nav-footer_link nav-footer_app"> <i class="icon icon-xl">android</i></a></li>
              </ul>
            </div>
            <div class="col-6 col-xs-2">
              <h3 class="footer-main_headline text-color-white">Sociálne siete</h3>
              <ul class="nav-footer">
                <li class="nav-footer_item"><a class="nav-footer_link nav-footer_social"><i class="icon icon-m nav-footer_icon">facebook</i><span>Facebook</span></a></li>
                <li class="nav-footer_item"><a class="nav-footer_link nav-footer_social"><i class="icon icon-m nav-footer_icon">youtube</i><span>Youtube</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="static/js/jquery.min.js"></script>
  <script type="text/javascript" src="static/js/jquery-migrate.min.js"></script>
  <script type="text/javascript" src="static/js/modernizr.js"></script>
  <script type="text/javascript" src="static/plugins/icomoon/liga.js"></script>
  <script type="text/javascript" src="static/plugins/customselect/dist/js/bootstrap-select.js"></script>
  <script type="text/javascript" src="static/plugins/switch/js/bootstrap-switch.js"></script>
  <script type="text/javascript" src="static/plugins/datepicker2/js/bootstrap-datepicker.js"></script>
  <script type="text/javascript" src="static/plugins/autosize/jquery.autosize.js"></script>
  <script type="text/javascript" src="static/plugins/remodal/src/jquery.remodal.js"></script>
  <script type="text/javascript" src="static/plugins/clockpicker/dist/jquery-clockpicker.js"></script>
  <script type="text/javascript" src="static/plugins/tooltipster/js/jquery.tooltipster.js"></script>
  <script type="text/javascript" src="static/plugins/bxslider/jquery.bxslider.js"></script>
  <script type="text/javascript" src="static/plugins/responsive-lightbox/jquery.lightbox.js"></script>
  <script type="text/javascript" src="static/js/main.js"></script>
</body></html>

jade/compile/blocky-detail.jade
extends ../templates/layout
  
//- Options
block prepend opts
  - var pageID = 2;
  - var subpageID = 1;
  - var breadcrumbs = true;
  - var breadcrumbsMore = [
  -   {
  -     'title': 'Detail',
  -     'href': 'blocky-detail.html'
  -   }
  - ]

//- Content
block append content

  - var bill = bills[0];

  main.content-main

    .grid-12col

      .row
        .col-12.col-s-3.ofst-s-center.col-xs-2

          .row

            .col.col-s-4

              .btnline
                a.btn.btn-green.btn-full-xs
                  i.icon.icon-left= icons.download
                  | Stiahnuť
                a.btn.btn-green.btn-full-xs(data-modal-target='popup-link')
                  i.icon.icon-left= icons.link
                  | Verejný link
                a.btn.btn-green.hide-s.btn-full-xs(href='blocky-upravit.html')
                  | Upraviť
                a.btn.btn-orange.btn-full-xs(data-modal-target='popup-delete-document') Vymazať

            .col.col-s-4.pull-right.col-space-s

              .btnline.pull-right.pull-left-s
                button.btn.btn-white(type='button', data-modal-target='modal-bill-lotery-new')
                  i.icon= icons.tipos   
                  span.hide-m  Národná bločková lotéria
                button.btn.btn-white(type='button', data-modal-target='note-new')
                  i.icon= icons.note
                button.btn.btn-white(type='button', data-modal-target='reminder-new')
                  i.icon= icons.bell
      
      .row
        .col-6.col-m-3.col-s-3.ofst-s-center.col-xs-2
          article.box-simple
            header.box-simple_header
              h3.no-mrg Informácie o bločku
            .box-simple_content

              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-6
                  label Obchod:
                .form-controls.form-col-6
                  label.input-static= bill.shop

              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-6
                  label.text-left Cena:
                .form-controls.form-col-6
                  label.input-static
                    | #{bill.price} &euro;

              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-6
                  label.text-left Dátum kúpy:
                .form-controls.form-col-6
                  label.input-static= bill.date

              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-6
                  label.text-left Záruka:
                .form-controls.form-col-6
                  label.input-static= bill.warranty

              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-6
                  label.text-left Kategória:
                .form-controls.form-col-6
                  label.input-static= bill.category
          
          
                  
        .col-6.col-m-3.col-s-3.ofst-s-center.col-xs-2
          article.box-simple.document-preview
            header.box-simple_header
              h3.no-mrg Náhľad nahratého dokumentu
            .box-simple_content
              ul.bxslider.lb
                li
                  a.bxslider-lightbox_open(href="static/imgs/placeholders/vzor-blocek.jpg" rel="lightbox")
                    i.icon.icon-m= icons.search
                  img(src="static/imgs/placeholders/vzor-blocek.jpg", alt="")


  include ../includes/modals/modal-reminder-new.jade
  include ../includes/modals/modal-bill-lotery.jade
  include ../includes/modals/modal-bill-lotery-new.jade
  include ../includes/modals/note-new.jade
  include ../includes/popups/popup-link.jade
  include ../includes/popups/popup-delete-documents.jade

append pageScripts
  script(type='text/javascript', src='static/plugins/bxslider/jquery.bxslider.js')
  script(type='text/javascript', src='static/plugins/responsive-lightbox/jquery.lightbox.js')
