jade/compile/nastavenia.jade
extends ../templates/layout

//- Options
block prepend opts
  - var pageID = null;
  - var subpageID = 0;
  - var breadcrumbs = false;
  - var subnavigationPage = 'settings';
  - var subnavigationID = 0;

//- Content
block append content

  .breadcrumbs
    a(onclick="history.back()") < Späť
      ul.breadcrumbs_list.hide-xs
        li.breadcrumbs_item
          a.breadcrumbs_link(href="index.html") Domov
        li.breadcrumbs_item >
        li.breadcrumbs_item
          a.breadcrumbs_link(href="nastavenia.html") Nastavenia
  
  main.content-main

    .grid-12col
      .row.row-space.no-mrg-bottom
        .col-12
          include ../includes/subnavigation  
      .row.js-sticky-cont  
        .col-3.hide-s
          .js-sticky
            article.box-simple.headerless
              .box-simple_content.no-pad
                ul.side-menu.js-scrollspy.js-sidemenu
                  li.side-menu_item.active
                    a(href="#", data-target="#prihlasovacie-udaje") Prihlasovacie údaje
                  li.side-menu_item
                    a(href="#", data-target="#osobne-udaje") Osobné údaje
                  li.side-menu_item
                    a(href="#", data-target="#udaje-o-firme") Údaje o firme
                  li.side-menu_item
                    a(href="#", data-target="#adresa") Adresa
        .col-6.col-m-4.col-s-4.col-xs-2
          article.box-simple#prihlasovacie-udaje
            header.box-simple_header
              h3.no-mrg Prihlasovacie údaje
            .box-simple_content
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-s-5
                .form-controls.form-col-8.form-col-s-7
                  .form-control
                    .form-help.form-helper * Všetky položky sú povinné
                    
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-s-5
                  label E-mail:
                .form-controls.form-col-5.form-col-s-7
                  .form-control
                    input.input(type='email')
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-s-5
                  label Heslo:
                .form-controls.form-col-5
                  a.btn.btn-green(data-modal-target="modal-change-password") Zmena hesla
        
          article.box-simple#osobne-udaje
            header.box-simple_header
              h3.no-mrg Osobné údaje
            .box-simple_content
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-s-5
                  label Typ:
                .form-controls.form-col-5.form-col-s-7
                  .radio-group
                    .radio
                      input.radio-input(type='radio', id='radio-typ-1', name='radio-typ-group', checked)
                      label.radio-custom(for='radio-typ-1')
                      label.radio-label(for='radio-typ-1') jednotlivec
                    .radio
                      input.radio-input(type='radio', id='radio-typ-2', name='radio-typ-group')
                      label.radio-custom(for='radio-typ-2')
                      label.radio-label(for='radio-typ-2') firma
                      
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-s-5
                  label Titul:
                .form-controls.form-col-5.form-col-s-7
                  .form-control
                    input.input
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-s-5
                  label Meno:
                .form-controls.form-col-5.form-col-s-7
                  .form-control
                    input.input
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-s-5
                  label Priezvisko:
                .form-controls.form-col-5.form-col-s-7
                  .form-control
                    input.input
          
          article.box-simple#udaje-o-firme
            header.box-simple_header
              h3.no-mrg Údaje o firme
            .box-simple_content
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-s-5
                  label 
                    span.hide-s Obchodné meno:
                    span.show-s.show-xs Obchodné m.:
                .form-controls.form-col-5.form-col-s-7
                  .form-control
                    input.input
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-s-5
                  label IČO:
                .form-controls.form-col-5.form-col-s-7
                  .form-control
                    input.input
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-s-5
                  label DIČ:
                .form-controls.form-col-5.form-col-s-7
                  .form-control
                    input.input
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-s-5
                  label IČ DPH:
                .form-controls.form-col-5.form-col-s-7
                  .form-control
                    input.input
              
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-s-5
                  label Logo:
                .form-controls.form-col-8.form-col-s-7
                  .form-control
                    label.input-static Logo je ikona zobrazená s vašimi zásielkami v kontách vaších príjemcov
                  .form-control
                    .fileinput.fileinput-new.js-fileinput
                      a.btn.btn-green.btn-file
                        span.fileinput-new Vyberte súbor
                        span.fileinput-exists Zmeniť
                        input(type='file', name='...')
                      a.btn.fileinput-exists.close(data-dismiss='fileinput')
                        i.icon= icons.close
                      span.fileinput-filename
          
          article.box-simple.no-mrg-bottom#adresa
            header.box-simple_header
              h3.no-mrg Adresa
            .box-simple_content 
              .form-row
                .form-label.form-label-inline.form-col-4.form-col-s-5.hide-xs
                .form-controls.form-col-8.form-col-s-7.form-col-xs-12
                  .checkbox
                    input.checkbox-input(type='checkbox', id='checkbox-address', name='checkbox-address')
                    label.checkbox-custom(for='checkbox-address')
                    label.checkbox-label(for='checkbox-address') Korešpondenčná adresa sa odlišuje
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-s-5
                  label Ulica a č. domu:
                .form-controls.form-col-5.form-col-s-7
                  .form-control
                    input.input
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-s-5
                  label PSČ:
                .form-controls.form-col-5.form-col-s-7
                  .form-control
                    input.input
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-s-5
                  label Mesto:
                .form-controls.form-col-5.form-col-s-7
                  .form-control
                    input.input
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-s-5
                  label Štát:
                .form-controls.form-col-5.form-col-s-7
                  .form-control
                    select.js-select
                      each option in ['Slovensko','Option 2','Option 3']
                        option #{option}
            
            header.box-simple_header
              h3.no-mrg Korešpondenčná adresa
            .box-simple_content
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-s-5
                  label Ulica a č. domu:
                .form-controls.form-col-5.form-col-s-7
                  .form-control
                    input.input
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-s-5
                  label PSČ:
                .form-controls.form-col-5.form-col-s-7
                  .form-control
                    input.input
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-s-5
                  label Mesto:
                .form-controls.form-col-5.form-col-s-7
                  .form-control
                    input.input
              .form-row
                .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-s-5
                  label Štát:
                .form-controls.form-col-5.form-col-s-7
                  .form-control
                    select.js-select
                      each option in ['Slovensko','Option 2','Option 3']
                        option #{option}
          p
            .form-row
              .form-controls.form-col-12
                .checkbox
                  input.checkbox-input(type='checkbox', id='checkbox-news', name='checkbox-news')
                  label.checkbox-custom(for='checkbox-news')
                  label.checkbox-label(for='checkbox-news') Chcem byť informovaný o novinkách a službách
          p.text-center
            button.btn.btn-green(type='button') Uložiť zmeny v nastaveniach
    
    include ../includes/modals/modal-change-password.jade
    include ../includes/modals/modal-forgotten-password.jade
    include ../includes/popups/popup-password-changed.jade
    include ../includes/popups/popup-email-sent.jade
                        
append pageScripts
  script(type='text/javascript', src='static/plugins/fileupload/fileupload.js')
  script(type='text/javascript', src='static/plugins/sticky/jquery.sticky.js')
  script(type='text/javascript', src='static/plugins/scrollspy/scrollspy.js')

nastavenia.html
<!DOCTYPE html>
<!--if IE 7<html class='no-js lt-ie9 lt-ie8 ie7 lang='en'>
-->
<!--if IE 8<html class='no-js lt-ie9 ie8' lang='en'>
-->
<!--if IE 9<html class="no-js ie9">
-->
<!--if gt IE 9<html class="no-js gt-ie9">
-->
<!--if !IE
<![IGNORE[--><!--[IGNORE[]]-->
<html class="no-js noie">
<!--
-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>Zelená Pošta</title>
  <meta name="author" content="Lighting Beetle s.r.o.">
  <meta name="description" content="Zelená Pošta">
  <meta name="keywords" content="Zelená Pošta">
  <link rel="icon" type="image/png" href="static/imgs/zep-favicon.png">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,600,700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="static/plugins/icomoon/style.css">
  <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
  <header class="header-main">
    <div class="header-bar">
      <section class="header-bar-right">
        <div class="header-control-bar"><a class="btn btn-white-2 pull-right">Odhlásiť</a>
          <div class="header-control-tabs"><a data-target="#main-nav" data-toggle="dropdown" class="header-control-tab show-s show-xs js-toggle"><span class="header-notify text-small">84</span><i class="icon icon-s">navicon</i></a><a data-target="#user-bar" data-toggle="dropdown" class="header-control-tab show-s show-xs js-toggle"><i class="icon icon-s">user</i></a><a href="nastavenia.html" class="header-control-tab"><i class="icon icon-s">settings</i></a></div>
        </div>
        <!-- end: header-control-bar-->
        <div id="user-bar" class="header-user-bar">
          <table>
            <tr>
              <td class="header-user-bar_info"><a class="header-user-bar_info_name">Michaela Kočiová</a><br><span class="header-user-bar_info_email">100-122-893@zelenaposta.sk</span></td>
              <td class="header-user-bar_credit"><a><b class='hide-xs'>Kredit:</b> 1984,00 &euro;</a></td>
            </tr>
          </table>
        </div>
        <!-- end: header-user-bar-->
        
      </section>
      <section class="header-bar-left hide-s"><a href="index.html" title="Zelená pošta" class="header-logo"><img src="static/imgs/zep-logo.svg" alt="Zelená pošta" class="img-fluid"></a></section>
      <section id="main-nav" class="header-bar-mid">
        <nav class="header-nav-bar">
          <ul class="header-nav-bar_list">
            <li class="header-nav-bar_list_item"><a href="index.html" class="header-nav-bar_list_link  ">
                 
                Prehľad
                <span class="header-notify text-small hide-s">84</span></a></li>
            <li class="header-nav-bar_list_item"><a href="schranka.html" class="header-nav-bar_list_link  with-subnav">
                 
                Schránka
                </a></li>
            <li class="header-nav-bar_list_item"><a href="dokumenty.html" class="header-nav-bar_list_link  with-subnav">
                 
                Dokumenty
                </a></li>
            <li class="header-nav-bar_list_item"><a href="sluzby.html" class="header-nav-bar_list_link  ">
                 
                Služby
                </a></li>
            <li class="header-nav-bar_list_item"><a href="kalendar.html" class="header-nav-bar_list_link  ">
                 
                Kalendár
                </a></li>
            <li class="header-nav-bar_list_item"><a href="statistiky.html" class="header-nav-bar_list_link  ">
                 
                Štatistiky
                </a></li>
          </ul>
        </nav>
      </section>
    </div>
    <!-- end: header-bar   -->
  </header>
  <div class="breadcrumbs"><a onclick="history.back()">< Späť
      <ul class="breadcrumbs_list hide-xs">
        <li class="breadcrumbs_item"><a href="index.html" class="breadcrumbs_link">Domov</a></li>
        <li class="breadcrumbs_item">></li>
        <li class="breadcrumbs_item"><a href="nastavenia.html" class="breadcrumbs_link">Nastavenia</a></li>
      </ul></a></div>
  <main class="content-main">
    <div class="grid-12col">
      <div class="row row-space no-mrg-bottom">
        <div class="col-12">
          <div class="subnavigation">
            <ul class="subnavigation_list">
              <li class="subnavigation_item"><a href="nastavenia.html" class="subnavigation_link active">Osobné nastavenia</a></li>
              <li class="subnavigation_item"><a href="nastavenia-ucet.html" class="subnavigation_link">Nastavenia účtu</a></li>
              <li class="subnavigation_item"><a href="nastavenia-zariadenia.html" class="subnavigation_link">Pripojené zariadenia</a></li>
              <li class="subnavigation_item"><a href="nastavenia-pouzivatelia.html" class="subnavigation_link">Používatelia</a></li>
              <li class="subnavigation_item"><a href="nastavenia-kredit.html" class="subnavigation_link">Kredit</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row js-sticky-cont"> 
        <div class="col-3 hide-s">
          <div class="js-sticky">
            <article class="box-simple headerless">
              <div class="box-simple_content no-pad">
                <ul class="side-menu js-scrollspy js-sidemenu">
                  <li class="side-menu_item active"><a href="#" data-target="#prihlasovacie-udaje">Prihlasovacie údaje</a></li>
                  <li class="side-menu_item"><a href="#" data-target="#osobne-udaje">Osobné údaje</a></li>
                  <li class="side-menu_item"><a href="#" data-target="#udaje-o-firme">Údaje o firme</a></li>
                  <li class="side-menu_item"><a href="#" data-target="#adresa">Adresa</a></li>
                </ul>
              </div>
            </article>
          </div>
        </div>
        <div class="col-6 col-m-4 col-s-4 col-xs-2">
          <article id="prihlasovacie-udaje" class="box-simple">
            <header class="box-simple_header">
              <h3 class="no-mrg">Prihlasovacie údaje</h3>
            </header>
            <div class="box-simple_content">
              <div class="form-row">
                <div class="form-label form-label-inline form-label-stack-xs form-col-4 form-col-s-5"></div>
                <div class="form-controls form-col-8 form-col-s-7">
                  <div class="form-control">
                    <div class="form-help form-helper">* Všetky položky sú povinné</div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-label form-label-inline form-label-stack-xs form-col-4 form-col-s-5">
                  <label>E-mail:</label>
                </div>
                <div class="form-controls form-col-5 form-col-s-7">
                  <div class="form-control">
                    <input type="email" class="input">
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-label form-label-inline form-label-stack-xs form-col-4 form-col-s-5">
                  <label>Heslo:</label>
                </div>
                <div class="form-controls form-col-5"><a data-modal-target="modal-change-password" class="btn btn-green">Zmena hesla</a></div>
              </div>
            </div>
          </article>
          <article id="osobne-udaje" class="box-simple">
            <header class="box-simple_header">
              <h3 class="no-mrg">Osobné údaje</h3>
            </header>
            <div class="box-simple_content">
              <div class="form-row">
                <div class="form-label form-label-inline form-label-stack-xs form-col-4 form-col-s-5">
                  <label>Typ:</label>
                </div>
                <div class="form-controls form-col-5 form-col-s-7">
                  <div class="radio-group">
                    <div class="radio">
                      <input type="radio" id="radio-typ-1" name="radio-typ-group" checked class="radio-input">
                      <label for="radio-typ-1" class="radio-custom"></label>
                      <label for="radio-typ-1" class="radio-label">jednotlivec</label>
                    </div>
                    <div class="radio">
                      <input type="radio" id="radio-typ-2" name="radio-typ-group" class="radio-input">
                      <label for="radio-typ-2" class="radio-custom"></label>
                      <label for="radio-typ-2" class="radio-label">firma</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-label form-label-inline form-label-stack-xs form-col-4 form-col-s-5">
                  <label>Titul:</label>
                </div>
                <div class="form-controls form-col-5 form-col-s-7">
                  <div class="form-control">
                    <input class="input">
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-label form-label-inline form-label-stack-xs form-col-4 form-col-s-5">
                  <label>Meno:</label>
                </div>
                <div class="form-controls form-col-5 form-col-s-7">
                  <div class="form-control">
                    <input class="input">
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-label form-label-inline form-label-stack-xs form-col-4 form-col-s-5">
                  <label>Priezvisko:</label>
                </div>
                <div class="form-controls form-col-5 form-col-s-7">
                  <div class="form-control">
                    <input class="input">
                  </div>
                </div>
              </div>
            </div>
          </article>
          <article id="udaje-o-firme" class="box-simple">
            <header class="box-simple_header">
              <h3 class="no-mrg">Údaje o firme</h3>
            </header>
            <div class="box-simple_content">
              <div class="form-row">
                <div class="form-label form-label-inline form-label-stack-xs form-col-4 form-col-s-5">
                  <label> <span class="hide-s">Obchodné meno:</span><span class="show-s show-xs">Obchodné m.:</span></label>
                </div>
                <div class="form-controls form-col-5 form-col-s-7">
                  <div class="form-control">
                    <input class="input">
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-label form-label-inline form-label-stack-xs form-col-4 form-col-s-5">
                  <label>IČO:</label>
                </div>
                <div class="form-controls form-col-5 form-col-s-7">
                  <div class="form-control">
                    <input class="input">
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-label form-label-inline form-label-stack-xs form-col-4 form-col-s-5">
                  <label>DIČ:</label>
                </div>
                <div class="form-controls form-col-5 form-col-s-7">
                  <div class="form-control">
                    <input class="input">
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-label form-label-inline form-label-stack-xs form-col-4 form-col-s-5">
                  <label>IČ DPH:</label>
                </div>
                <div class="form-controls form-col-5 form-col-s-7">
                  <div class="form-control">
                    <input class="input">
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-label form-label-inline form-label-stack-xs form-col-4 form-col-s-5">
                  <label>Logo:</label>
                </div>
                <div class="form-controls form-col-8 form-col-s-7">
                  <div class="form-control">
                    <label class="input-static">Logo je ikona zobrazená s vašimi zásielkami v kontách vaších príjemcov</label>
                  </div>
                  <div class="form-control">
                    <div class="fileinput fileinput-new js-fileinput"><a class="btn btn-green btn-file"><span class="fileinput-new">Vyberte súbor</span><span class="fileinput-exists">Zmeniť</span>
                        <input type="file" name="..."></a><a data-dismiss="fileinput" class="btn fileinput-exists close"><i class="icon">close</i></a><span class="fileinput-filename"></span></div>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <article id="adresa" class="box-simple no-mrg-bottom">
            <header class="box-simple_header">
              <h3 class="no-mrg">Adresa</h3>
            </header>
            <div class="box-simple_content"> 
              <div class="form-row">
                <div class="form-label form-label-inline form-col-4 form-col-s-5 hide-xs"></div>
                <div class="form-controls form-col-8 form-col-s-7 form-col-xs-12">
                  <div class="checkbox">
                    <input type="checkbox" id="checkbox-address" name="checkbox-address" class="checkbox-input">
                    <label for="checkbox-address" class="checkbox-custom"></label>
                    <label for="checkbox-address" class="checkbox-label">Korešpondenčná adresa sa odlišuje</label>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-label form-label-inline form-label-stack-xs form-col-4 form-col-s-5">
                  <label>Ulica a č. domu:</label>
                </div>
                <div class="form-controls form-col-5 form-col-s-7">
                  <div class="form-control">
                    <input class="input">
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-label form-label-inline form-label-stack-xs form-col-4 form-col-s-5">
                  <label>PSČ:</label>
                </div>
                <div class="form-controls form-col-5 form-col-s-7">
                  <div class="form-control">
                    <input class="input">
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-label form-label-inline form-label-stack-xs form-col-4 form-col-s-5">
                  <label>Mesto:</label>
                </div>
                <div class="form-controls form-col-5 form-col-s-7">
                  <div class="form-control">
                    <input class="input">
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-label form-label-inline form-label-stack-xs form-col-4 form-col-s-5">
                  <label>Štát:</label>
                </div>
                <div class="form-controls form-col-5 form-col-s-7">
                  <div class="form-control">
                    <select class="js-select">
                      <option>Slovensko</option>
                      <option>Option 2</option>
                      <option>Option 3</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <header class="box-simple_header">
              <h3 class="no-mrg">Korešpondenčná adresa</h3>
            </header>
            <div class="box-simple_content">
              <div class="form-row">
                <div class="form-label form-label-inline form-label-stack-xs form-col-4 form-col-s-5">
                  <label>Ulica a č. domu:</label>
                </div>
                <div class="form-controls form-col-5 form-col-s-7">
                  <div class="form-control">
                    <input class="input">
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-label form-label-inline form-label-stack-xs form-col-4 form-col-s-5">
                  <label>PSČ:</label>
                </div>
                <div class="form-controls form-col-5 form-col-s-7">
                  <div class="form-control">
                    <input class="input">
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-label form-label-inline form-label-stack-xs form-col-4 form-col-s-5">
                  <label>Mesto:</label>
                </div>
                <div class="form-controls form-col-5 form-col-s-7">
                  <div class="form-control">
                    <input class="input">
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-label form-label-inline form-label-stack-xs form-col-4 form-col-s-5">
                  <label>Štát:</label>
                </div>
                <div class="form-controls form-col-5 form-col-s-7">
                  <div class="form-control">
                    <select class="js-select">
                      <option>Slovensko</option>
                      <option>Option 2</option>
                      <option>Option 3</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </article>
          <p>
            <div class="form-row">
              <div class="form-controls form-col-12">
                <div class="checkbox">
                  <input type="checkbox" id="checkbox-news" name="checkbox-news" class="checkbox-input">
                  <label for="checkbox-news" class="checkbox-custom"></label>
                  <label for="checkbox-news" class="checkbox-label">Chcem byť informovaný o novinkách a službách</label>
                </div>
              </div>
            </div>
          </p>
          <p class="text-center">
            <button type="button" class="btn btn-green">Uložiť zmeny v nastaveniach</button>
          </p>
        </div>
      </div>
    </div>
    <article data-modal-id="modal-change-password" class="modal">
      <header class="modal_header">
        <h3 class="no-mrg"> <i class="icon text-color-darkgreen">info</i> Zmena hesla</h3><a class="modal-close"><i class="icon">closesmall</i></a>
      </header>
      <div class="modal_content">
        <div class="form-row">
          <div class="form-label form-label-inline form-label-stack-xs form-col-5 form-col-s-5 form-col-xs-12">
            <label>Pôvodné heslo:</label>
          </div>
          <div class="form-controls form-col-5 form-col-s-7">
            <div class="form-control">
              <input type="password" class="input">
              <div class="form-help form-helper"> <a data-modal-target="modal-forgotten-password">Zabudli ste vaše heslo?</a></div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-label form-label-inline form-label-stack-xs form-col-5 form-col-s-5 form-col-xs-12">
            <label>Nové heslo:</label>
          </div>
          <div class="form-controls form-col-5 form-col-s-7">
            <div class="form-control">
              <input type="password" class="input">
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-label form-label-inline form-label-stack-xs form-col-5 form-col-s-5 form-col-xs-12">
            <label>Zopakovať nové heslo:</label>
          </div>
          <div class="form-controls form-col-5 form-col-s-7">
            <div class="form-control">
              <input class="input">
            </div>
          </div>
        </div>
      </div>
      <footer class="modal_footer">
        <div class="btnline text-right">
          <button type="button" class="btn modal-cancel">Zrušiť</button>
          <button type="button" data-modal-target="popup-password-changed" class="btn btn-green modal-confirm">Zmeniť heslo</button>
        </div>
      </footer>
    </article>
    <article data-modal-id="modal-forgotten-password" class="modal">
      <header class="modal_header">
        <h3 class="no-mrg"> <i class="icon text-color-darkgreen">info</i> Zmena hesla</h3><a class="modal-close"><i class="icon">closesmall</i></a>
      </header>
      <div class="modal_content">
        <p class="no-mrg-top">Zadajte svoju e-mailovú adresu, na ktorú vám pošleme inštrukcie pre obnovenie hesla.</p>
        <div class="form-row">
          <div class="form-controls form-col-12">
            <div class="form-control">
              <input type="email" class="input">
            </div>
          </div>
        </div>
      </div>
      <footer class="modal_footer">
        <div class="btnline text-right">
          <button type="button" class="btn modal-cancel">Zrušiť</button>
          <button type="button" data-modal-target="popup-email-sent" class="btn btn-green modal-confirm">Odoslať</button>
        </div>
      </footer>
    </article>
    <article data-modal-id="popup-password-changed" class="modal modal-popup">
      <header class="modal_header modal-popup_header">
        <h3 class="no-mrg"> <i class="icon text-color-darkgreen">info</i> Zrušenie dávky</h3><a class="modal-close"><i class="icon">closesmall</i></a>
      </header>
      <div class="modal_content modal-popup_content">
        <p class="no-mrg-top">Vaše heslo bolo úspešne zmenené</p><a class="btn btn-green modal-confirm">OK</a>
      </div>
    </article>
    <article data-modal-id="popup-email-sent" class="modal modal-popup">
      <header class="modal_header modal-popup_header">
        <h3 class="no-mrg"> <i class="icon text-color-darkgreen">info</i> Zabudnuté heslo</h3><a class="modal-close"><i class="icon">closesmall</i></a>
      </header>
      <div class="modal_content modal-popup_content">
        <p class="text-big text-bold no-mrg-top">Prosím, skontrolujte si Váš e-mail.</p>
        <p>Na e-mail sme Vám poslali všetky inštrukcie, ako si rýchlo a bezpečne zmeniť heslo.</p><a class="btn btn-green modal-confirm">OK</a>
      </div>
    </article>
  </main>
  <footer class="footer-main text-color-white">
    <div class="grid-12col">
      <div class="row">
        <div class="col-6 col-s-4 col-xs-2">
          <h3 class="footer-main_headline text-color-white">Zelená pošta</h3>
          <div class="row">
            <ul class="col-6 col-xs-2 nav-footer">
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Zelená pošta</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Posielať zásielky</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Prijímať zásielky</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Zelené tlačiareň</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Bločky</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Cenník</a></li>
            </ul>
            <ul class="col-6 col-xs-2 nav-footer">
              <li class="nav-footer_item"><a href="" class="nav-footer_link">O nás</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Novinky</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">FAQ</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Kontakt</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Všeobecné obchodné podmienky</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">API prepojenie</a></li>
            </ul>
          </div>
        </div>
        <div class="col-6 col-s-4 col-xs-2 col-space-s">
          <div class="row">
            <div class="col-6 col-xs-2 col-space-xs">
              <h3 class="footer-main_headline text-color-white">Mobilné aplikácie</h3>
              <ul class="nav-footer">
                <li class="nav-footer_item"><a href="https://itunes.apple.com/gb/app/zelena-posta/id687733400" class="nav-footer_link nav-footer_app"> <i class="icon icon-xl">apple</i></a><a href="https://play.google.com/store/apps/details?id=sk.zp.zelenapostaapp" class="nav-footer_link nav-footer_app"> <i class="icon icon-xl">android</i></a></li>
              </ul>
            </div>
            <div class="col-6 col-xs-2">
              <h3 class="footer-main_headline text-color-white">Sociálne siete</h3>
              <ul class="nav-footer">
                <li class="nav-footer_item"><a class="nav-footer_link nav-footer_social"><i class="icon icon-m nav-footer_icon">facebook</i><span>Facebook</span></a></li>
                <li class="nav-footer_item"><a class="nav-footer_link nav-footer_social"><i class="icon icon-m nav-footer_icon">youtube</i><span>Youtube</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="static/js/jquery.min.js"></script>
  <script type="text/javascript" src="static/js/jquery-migrate.min.js"></script>
  <script type="text/javascript" src="static/js/modernizr.js"></script>
  <script type="text/javascript" src="static/plugins/icomoon/liga.js"></script>
  <script type="text/javascript" src="static/plugins/customselect/dist/js/bootstrap-select.js"></script>
  <script type="text/javascript" src="static/plugins/switch/js/bootstrap-switch.js"></script>
  <script type="text/javascript" src="static/plugins/datepicker2/js/bootstrap-datepicker.js"></script>
  <script type="text/javascript" src="static/plugins/autosize/jquery.autosize.js"></script>
  <script type="text/javascript" src="static/plugins/remodal/src/jquery.remodal.js"></script>
  <script type="text/javascript" src="static/plugins/clockpicker/dist/jquery-clockpicker.js"></script>
  <script type="text/javascript" src="static/plugins/tooltipster/js/jquery.tooltipster.js"></script>
  <script type="text/javascript" src="static/plugins/fileupload/fileupload.js"></script>
  <script type="text/javascript" src="static/plugins/sticky/jquery.sticky.js"></script>
  <script type="text/javascript" src="static/plugins/scrollspy/scrollspy.js"></script>
  <script type="text/javascript" src="static/js/main.js"></script>
</body></html>
