jade/compile/nastavenia-kredit.jade
extends ../templates/layout

//- Options
block prepend opts
  - var pageID = null;
  - var subpageID = 0;
  - var breadcrumbs = false;
  - var subnavigationPage = 'settings';
  - var subnavigationID = 4;

//- Content
block append content

  .breadcrumbs
    a(onclick="history.back()") < Späť
      ul.breadcrumbs_list.hide-xs
        li.breadcrumbs_item
          a.breadcrumbs_link(href="index.html") Domov
        li.breadcrumbs_item >
        li.breadcrumbs_item
          a.breadcrumbs_link(href="nastavenia.html") Nastavenia
  
  main.content-main

    .grid-12col
      .row.row-space.no-mrg-bottom
        .col-12
          include ../includes/subnavigation  
      .row
        .col-12
          article.box-simple
            header.box-simple_header
              h3.no-mrg Dobitie kreditu
            
            .box-simple_content
              .row
                .col-4.col-s-4
                  p.no-mrg-top 1. Zvoľte výšku kreditu
                  .form-row
                    .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-s-2
                      label Suma:
                    .form-controls.form-col-4.form-col-m-6.form-col-s-4
                      .form-control
                        select.js-select
                          each option in ['50€','Option 2','Option 3']
                            option #{option}
                  p.no-mrg-top 2. Vyberte su spôsob platby
                  .form-row
                    .form-controls.form-col-12
                      .radio-group.with-images.js-radio-toggle
                        .radio
                          input.radio-input(type='radio', id='radio-02-01', name='radio-02', data-target=".js-prevod", checked)
                          label.radio-custom(for='radio-02-01')
                          label.radio-label(for='radio-02-01', data-toggle='radio') Prevodom na účet 
                            span.hide-xs (alebo použitím QR kódu)
                        .radio.with-image
                          input.radio-input(type='radio', id='radio-02-02', name='radio-02', data-target=".js-paygate-tatra")
                          label.radio-custom(for='radio-02-02')
                          label.radio-label(for='radio-02-02') 
                            img(src="static/imgs/content/pay-gates/tatrapay_small.png", alt="")
                        .radio.with-image
                          input.radio-input(type='radio', id='radio-02-03', name='radio-02', data-target=".js-paygate-vub")
                          label.radio-custom(for='radio-02-03')
                          label.radio-label(for='radio-02-03')
                            img(src="static/imgs/content/pay-gates/vubeplatby_small.png", alt="")
                        .radio.with-image
                          input.radio-input(type='radio', id='radio-02-04', name='radio-02', data-target=".js-paygate-sporo")
                          label.radio-custom(for='radio-02-04')
                          label.radio-label(for='radio-02-04')
                            img(src="static/imgs/content/pay-gates/sporopay_small.png", alt="")
                .col-8.col-s-4.radio-toggle.js-prevod.active
                  p.text-bold.no-mrg-top Prosím použite nasledovné údaje pre platbu
                  .row.row-space
                    .col-4.hide-xs
                      img.img-fluid(src="static/imgs/content/pay-gates/qrcode.png", alt="")
                    .col-8.col-xs-2
                      dl.inline.clearfix.no-mrg-top
                        dt Suma: 
                        dd 50€
                        dt Číslo účtu: 
                        dd 2923871233/1100
                        dt IBAN: 
                        dd SK4211000000002923871233
                        dt Swift kód / BIC: 
                        dd TATRSKBX
                        dt Konštantný symbol: 
                        dd 0308
                        dt Variabilný symbol: 
                        dd 100075300
                        dt Poznámka: 
                        dd Vaše meno a priezvisko
                      p.text-bold Kredit bude pripočítaný až potom, ako príjmeme vašu platbu.
                      btnline
                        button.btn.btn-grey(type='button') Zrušiť
                        button.btn.btn-green(type='button') Prejisť na ďalšiu platbu
                .col-6.col-s-4.radio-toggle.js-paygate-tatra
                  .inline-box.pull-left 
                    .inline-box_content
                      .paygate-line
                        label.text-bold Suma: 
                        span  50€
                        img(src="static/imgs/content/pay-gates/tatrapay_small.png", alt="")
                        .btnline
                          a.btn.btn-green(href="nastavenia-kredit-paid.html") Zaplatiť
                .col-6.col-s-4.radio-toggle.js-paygate-vub
                  .inline-box.pull-left 
                    .inline-box_content
                      .paygate-line
                        label.text-bold Suma: 
                        span  50€
                        img(src="static/imgs/content/pay-gates/vubeplatby_small.png", alt="")
                        .btnline
                          a.btn.btn-green(href="nastavenia-kredit-paid.html") Zaplatiť
                .col-6.col-s-4.radio-toggle.js-paygate-sporo
                  .inline-box.pull-left 
                    .inline-box_content
                      .paygate-line
                        label.text-bold Suma: 
                        span  50€
                        img(src="static/imgs/content/pay-gates/sporopay_small.png", alt="")
                        .btnline
                          a.btn.btn-green(href="nastavenia-kredit-paid.html") Zaplatiť
      .row
        .col-12
          article.box-simple.no-mrg-top
            header.box-simple_header
              h3.no-mrg Uskutočnené transakcie
            .box-simple_content.no-pad
              p.table-actions Pozrite si prehľad o vašich transakciách
              table.table.table-hovers.table-responsive-s.table-border-top
                thead.hide-s
                  tr
                    th Dátum
                    th Popis
                    th.text-right Cena
                tbody
                  tr
                    td 25.11.2014
                    td.td-clear-s Spracovanie dávky: Zásielka odoslaná cez webstránku
                    td.td-pull-right-s.text-color-red.text-bold.text-right - 0,87
                  tr
                    td 25.11.2014
                    td.td-clear-s Spracovanie dávky: Zásielka odoslaná cez webstránku
                    td.td-pull-right-s.text-color-green.text-bold.text-right + 0,55
                  tr
                    td 25.11.2014
                    td.td-clear-s Spracovanie dávky: Zásielka odoslaná cez webstránku
                    td.td-pull-right-s.text-color-red.text-bold.text-right - 0,87
                  tr
                    td 25.11.2014
                    td.td-clear-s Spracovanie dávky: Zásielka odoslaná cez webstránku
                    td.td-pull-right-s.text-color-green.text-bold.text-right + 0,55
            footer.box-simple_footer.box-simple_pagination
              ul.pagination
                li.pagination_item
                  a.btn.btn-white
                    i.icon= icons.doubleleft
                li.pagination_item
                  span.pagination_link &hellip;
                each key in [1,2,3,4,5,6,7]
                  li.pagination_item
                    - var active = ''
                    - if(key==1) active = 'active';
                    a.pagination_link(class=active)= key
                li.pagination_item
                  span.pagination_link &hellip;
                li.pagination_item
                  a.btn.btn-white
                    i.icon= icons.doubleright
                    

nastavenia-kredit.html
<!DOCTYPE html>
<!--if IE 7<html class='no-js lt-ie9 lt-ie8 ie7 lang='en'>
-->
<!--if IE 8<html class='no-js lt-ie9 ie8' lang='en'>
-->
<!--if IE 9<html class="no-js ie9">
-->
<!--if gt IE 9<html class="no-js gt-ie9">
-->
<!--if !IE
<![IGNORE[--><!--[IGNORE[]]-->
<html class="no-js noie">
<!--
-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>Zelená Pošta</title>
  <meta name="author" content="Lighting Beetle s.r.o.">
  <meta name="description" content="Zelená Pošta">
  <meta name="keywords" content="Zelená Pošta">
  <link rel="icon" type="image/png" href="static/imgs/zep-favicon.png">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,600,700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="static/plugins/icomoon/style.css">
  <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
  <header class="header-main">
    <div class="header-bar">
      <section class="header-bar-right">
        <div class="header-control-bar"><a class="btn btn-white-2 pull-right">Odhlásiť</a>
          <div class="header-control-tabs"><a data-target="#main-nav" data-toggle="dropdown" class="header-control-tab show-s show-xs js-toggle"><span class="header-notify text-small">84</span><i class="icon icon-s">navicon</i></a><a data-target="#user-bar" data-toggle="dropdown" class="header-control-tab show-s show-xs js-toggle"><i class="icon icon-s">user</i></a><a href="nastavenia.html" class="header-control-tab"><i class="icon icon-s">settings</i></a></div>
        </div>
        <!-- end: header-control-bar-->
        <div id="user-bar" class="header-user-bar">
          <table>
            <tr>
              <td class="header-user-bar_info"><a class="header-user-bar_info_name">Michaela Kočiová</a><br><span class="header-user-bar_info_email">100-122-893@zelenaposta.sk</span></td>
              <td class="header-user-bar_credit"><a><b class='hide-xs'>Kredit:</b> 1984,00 &euro;</a></td>
            </tr>
          </table>
        </div>
        <!-- end: header-user-bar-->
        
      </section>
      <section class="header-bar-left hide-s"><a href="index.html" title="Zelená pošta" class="header-logo"><img src="static/imgs/zep-logo.svg" alt="Zelená pošta" class="img-fluid"></a></section>
      <section id="main-nav" class="header-bar-mid">
        <nav class="header-nav-bar">
          <ul class="header-nav-bar_list">
            <li class="header-nav-bar_list_item"><a href="index.html" class="header-nav-bar_list_link  ">
                 
                Prehľad
                <span class="header-notify text-small hide-s">84</span></a></li>
            <li class="header-nav-bar_list_item"><a href="schranka.html" class="header-nav-bar_list_link  with-subnav">
                 
                Schránka
                </a></li>
            <li class="header-nav-bar_list_item"><a href="dokumenty.html" class="header-nav-bar_list_link  with-subnav">
                 
                Dokumenty
                </a></li>
            <li class="header-nav-bar_list_item"><a href="sluzby.html" class="header-nav-bar_list_link  ">
                 
                Služby
                </a></li>
            <li class="header-nav-bar_list_item"><a href="kalendar.html" class="header-nav-bar_list_link  ">
                 
                Kalendár
                </a></li>
            <li class="header-nav-bar_list_item"><a href="statistiky.html" class="header-nav-bar_list_link  ">
                 
                Štatistiky
                </a></li>
          </ul>
        </nav>
      </section>
    </div>
    <!-- end: header-bar   -->
  </header>
  <div class="breadcrumbs"><a onclick="history.back()">< Späť
      <ul class="breadcrumbs_list hide-xs">
        <li class="breadcrumbs_item"><a href="index.html" class="breadcrumbs_link">Domov</a></li>
        <li class="breadcrumbs_item">></li>
        <li class="breadcrumbs_item"><a href="nastavenia.html" class="breadcrumbs_link">Nastavenia</a></li>
      </ul></a></div>
  <main class="content-main">
    <div class="grid-12col">
      <div class="row row-space no-mrg-bottom">
        <div class="col-12">
          <div class="subnavigation">
            <ul class="subnavigation_list">
              <li class="subnavigation_item"><a href="nastavenia.html" class="subnavigation_link">Osobné nastavenia</a></li>
              <li class="subnavigation_item"><a href="nastavenia-ucet.html" class="subnavigation_link">Nastavenia účtu</a></li>
              <li class="subnavigation_item"><a href="nastavenia-zariadenia.html" class="subnavigation_link">Pripojené zariadenia</a></li>
              <li class="subnavigation_item"><a href="nastavenia-pouzivatelia.html" class="subnavigation_link">Používatelia</a></li>
              <li class="subnavigation_item"><a href="nastavenia-kredit.html" class="subnavigation_link active">Kredit</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <article class="box-simple">
            <header class="box-simple_header">
              <h3 class="no-mrg">Dobitie kreditu</h3>
            </header>
            <div class="box-simple_content">
              <div class="row">
                <div class="col-4 col-s-4">
                  <p class="no-mrg-top">1. Zvoľte výšku kreditu</p>
                  <div class="form-row">
                    <div class="form-label form-label-inline form-label-stack-xs form-col-4 form-col-s-2">
                      <label>Suma:</label>
                    </div>
                    <div class="form-controls form-col-4 form-col-m-6 form-col-s-4">
                      <div class="form-control">
                        <select class="js-select">
                          <option>50€</option>
                          <option>Option 2</option>
                          <option>Option 3</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <p class="no-mrg-top">2. Vyberte su spôsob platby</p>
                  <div class="form-row">
                    <div class="form-controls form-col-12">
                      <div class="radio-group with-images js-radio-toggle">
                        <div class="radio">
                          <input type="radio" id="radio-02-01" name="radio-02" data-target=".js-prevod" checked class="radio-input">
                          <label for="radio-02-01" class="radio-custom"></label>
                          <label for="radio-02-01" data-toggle="radio" class="radio-label">Prevodom na účet <span class="hide-xs">(alebo použitím QR kódu)</span></label>
                        </div>
                        <div class="radio with-image">
                          <input type="radio" id="radio-02-02" name="radio-02" data-target=".js-paygate-tatra" class="radio-input">
                          <label for="radio-02-02" class="radio-custom"></label>
                          <label for="radio-02-02" class="radio-label"> <img src="static/imgs/content/pay-gates/tatrapay_small.png" alt=""></label>
                        </div>
                        <div class="radio with-image">
                          <input type="radio" id="radio-02-03" name="radio-02" data-target=".js-paygate-vub" class="radio-input">
                          <label for="radio-02-03" class="radio-custom"></label>
                          <label for="radio-02-03" class="radio-label"><img src="static/imgs/content/pay-gates/vubeplatby_small.png" alt=""></label>
                        </div>
                        <div class="radio with-image">
                          <input type="radio" id="radio-02-04" name="radio-02" data-target=".js-paygate-sporo" class="radio-input">
                          <label for="radio-02-04" class="radio-custom"></label>
                          <label for="radio-02-04" class="radio-label"><img src="static/imgs/content/pay-gates/sporopay_small.png" alt=""></label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-8 col-s-4 radio-toggle js-prevod active">
                  <p class="text-bold no-mrg-top">Prosím použite nasledovné údaje pre platbu</p>
                  <div class="row row-space">
                    <div class="col-4 hide-xs"><img src="static/imgs/content/pay-gates/qrcode.png" alt="" class="img-fluid"></div>
                    <div class="col-8 col-xs-2">
                      <dl class="inline clearfix no-mrg-top">
                        <dt>Suma: </dt>
                        <dd>50€</dd>
                        <dt>Číslo účtu: </dt>
                        <dd>2923871233/1100</dd>
                        <dt>IBAN: </dt>
                        <dd>SK4211000000002923871233</dd>
                        <dt>Swift kód / BIC: </dt>
                        <dd>TATRSKBX</dd>
                        <dt>Konštantný symbol: </dt>
                        <dd>0308</dd>
                        <dt>Variabilný symbol: </dt>
                        <dd>100075300</dd>
                        <dt>Poznámka: </dt>
                        <dd>Vaše meno a priezvisko</dd>
                      </dl>
                      <p class="text-bold">Kredit bude pripočítaný až potom, ako príjmeme vašu platbu.</p>
                      <btnline>
                        <button type="button" class="btn btn-grey">Zrušiť</button>
                        <button type="button" class="btn btn-green">Prejisť na ďalšiu platbu</button>
                      </btnline>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-s-4 radio-toggle js-paygate-tatra">
                  <div class="inline-box pull-left"> 
                    <div class="inline-box_content">
                      <div class="paygate-line">
                        <label class="text-bold">Suma: </label><span> 50€</span><img src="static/imgs/content/pay-gates/tatrapay_small.png" alt="">
                        <div class="btnline"><a href="nastavenia-kredit-paid.html" class="btn btn-green">Zaplatiť</a></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-s-4 radio-toggle js-paygate-vub">
                  <div class="inline-box pull-left"> 
                    <div class="inline-box_content">
                      <div class="paygate-line">
                        <label class="text-bold">Suma: </label><span> 50€</span><img src="static/imgs/content/pay-gates/vubeplatby_small.png" alt="">
                        <div class="btnline"><a href="nastavenia-kredit-paid.html" class="btn btn-green">Zaplatiť</a></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-s-4 radio-toggle js-paygate-sporo">
                  <div class="inline-box pull-left"> 
                    <div class="inline-box_content">
                      <div class="paygate-line">
                        <label class="text-bold">Suma: </label><span> 50€</span><img src="static/imgs/content/pay-gates/sporopay_small.png" alt="">
                        <div class="btnline"><a href="nastavenia-kredit-paid.html" class="btn btn-green">Zaplatiť</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <article class="box-simple no-mrg-top">
            <header class="box-simple_header">
              <h3 class="no-mrg">Uskutočnené transakcie</h3>
            </header>
            <div class="box-simple_content no-pad">
              <p class="table-actions">Pozrite si prehľad o vašich transakciách</p>
              <table class="table table-hovers table-responsive-s table-border-top">
                <thead class="hide-s">
                  <tr>
                    <th>Dátum</th>
                    <th>Popis</th>
                    <th class="text-right">Cena</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>25.11.2014</td>
                    <td class="td-clear-s">Spracovanie dávky: Zásielka odoslaná cez webstránku</td>
                    <td class="td-pull-right-s text-color-red text-bold text-right">- 0,87</td>
                  </tr>
                  <tr>
                    <td>25.11.2014</td>
                    <td class="td-clear-s">Spracovanie dávky: Zásielka odoslaná cez webstránku</td>
                    <td class="td-pull-right-s text-color-green text-bold text-right">+ 0,55</td>
                  </tr>
                  <tr>
                    <td>25.11.2014</td>
                    <td class="td-clear-s">Spracovanie dávky: Zásielka odoslaná cez webstránku</td>
                    <td class="td-pull-right-s text-color-red text-bold text-right">- 0,87</td>
                  </tr>
                  <tr>
                    <td>25.11.2014</td>
                    <td class="td-clear-s">Spracovanie dávky: Zásielka odoslaná cez webstránku</td>
                    <td class="td-pull-right-s text-color-green text-bold text-right">+ 0,55</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <footer class="box-simple_footer box-simple_pagination">
              <ul class="pagination">
                <li class="pagination_item"><a class="btn btn-white"><i class="icon">doubleleft</i></a></li>
                <li class="pagination_item"><span class="pagination_link">&hellip;</span></li>
                <li class="pagination_item"><a class="pagination_link active">1</a>
                </li>
                <li class="pagination_item"><a class="pagination_link">2</a>
                </li>
                <li class="pagination_item"><a class="pagination_link">3</a>
                </li>
                <li class="pagination_item"><a class="pagination_link">4</a>
                </li>
                <li class="pagination_item"><a class="pagination_link">5</a>
                </li>
                <li class="pagination_item"><a class="pagination_link">6</a>
                </li>
                <li class="pagination_item"><a class="pagination_link">7</a>
                </li>
                <li class="pagination_item"><span class="pagination_link">&hellip;</span></li>
                <li class="pagination_item"><a class="btn btn-white"><i class="icon">doubleright</i></a></li>
              </ul>
            </footer>
          </article>
        </div>
      </div>
    </div>
  </main>
  <footer class="footer-main text-color-white">
    <div class="grid-12col">
      <div class="row">
        <div class="col-6 col-s-4 col-xs-2">
          <h3 class="footer-main_headline text-color-white">Zelená pošta</h3>
          <div class="row">
            <ul class="col-6 col-xs-2 nav-footer">
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Zelená pošta</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Posielať zásielky</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Prijímať zásielky</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Zelené tlačiareň</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Bločky</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Cenník</a></li>
            </ul>
            <ul class="col-6 col-xs-2 nav-footer">
              <li class="nav-footer_item"><a href="" class="nav-footer_link">O nás</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Novinky</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">FAQ</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Kontakt</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Všeobecné obchodné podmienky</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">API prepojenie</a></li>
            </ul>
          </div>
        </div>
        <div class="col-6 col-s-4 col-xs-2 col-space-s">
          <div class="row">
            <div class="col-6 col-xs-2 col-space-xs">
              <h3 class="footer-main_headline text-color-white">Mobilné aplikácie</h3>
              <ul class="nav-footer">
                <li class="nav-footer_item"><a href="https://itunes.apple.com/gb/app/zelena-posta/id687733400" class="nav-footer_link nav-footer_app"> <i class="icon icon-xl">apple</i></a><a href="https://play.google.com/store/apps/details?id=sk.zp.zelenapostaapp" class="nav-footer_link nav-footer_app"> <i class="icon icon-xl">android</i></a></li>
              </ul>
            </div>
            <div class="col-6 col-xs-2">
              <h3 class="footer-main_headline text-color-white">Sociálne siete</h3>
              <ul class="nav-footer">
                <li class="nav-footer_item"><a class="nav-footer_link nav-footer_social"><i class="icon icon-m nav-footer_icon">facebook</i><span>Facebook</span></a></li>
                <li class="nav-footer_item"><a class="nav-footer_link nav-footer_social"><i class="icon icon-m nav-footer_icon">youtube</i><span>Youtube</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="static/js/jquery.min.js"></script>
  <script type="text/javascript" src="static/js/jquery-migrate.min.js"></script>
  <script type="text/javascript" src="static/js/modernizr.js"></script>
  <script type="text/javascript" src="static/plugins/icomoon/liga.js"></script>
  <script type="text/javascript" src="static/plugins/customselect/dist/js/bootstrap-select.js"></script>
  <script type="text/javascript" src="static/plugins/switch/js/bootstrap-switch.js"></script>
  <script type="text/javascript" src="static/plugins/datepicker2/js/bootstrap-datepicker.js"></script>
  <script type="text/javascript" src="static/plugins/autosize/jquery.autosize.js"></script>
  <script type="text/javascript" src="static/plugins/remodal/src/jquery.remodal.js"></script>
  <script type="text/javascript" src="static/plugins/clockpicker/dist/jquery-clockpicker.js"></script>
  <script type="text/javascript" src="static/plugins/tooltipster/js/jquery.tooltipster.js"></script>
  <script type="text/javascript" src="static/js/main.js"></script>
</body></html>
