jade/compile/nastavenia-ucet.jade
extends ../templates/layout

//- Options
block prepend opts
  - var pageID = null;
  - var subpageID = 0;
  - var breadcrumbs = false;
  - var subnavigationPage = 'settings';
  - var subnavigationID = 1;

//- Content
block append content

  .breadcrumbs
    a(onclick="history.back()") < Späť
      ul.breadcrumbs_list.hide-xs
        li.breadcrumbs_item
          a.breadcrumbs_link(href="index.html") Domov
        li.breadcrumbs_item >
        li.breadcrumbs_item
          a.breadcrumbs_link(href="nastavenia.html") Nastavenia
  
  main.content-main

    .grid-12col
      .row.row-space.no-mrg-bottom
        .col-12
          include ../includes/subnavigation  
      .row.row-space
        .col-12
          p
            .form-row
              .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-m-5.form-col-s-7.form-col-xs-12
                label Výber jazyka:
              .form-controls.form-col-2.form-col-m-4.form-col-s-5
                .form-control
                  select.js-select
                    each option in ['Slovenčina','Option 2','Option 3']
                      option #{option}
                      
            .form-row
              .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-m-5.form-col-s-7.form-col-xs-12
                label 
                  span.tooltip-icon.js-tooltip(title='Opakuje sa každý mesiac') ?
                  | Začiatok fakturačného obdobia:
              .form-controls.form-col-2.form-col-m-4.form-col-s-5
                .form-control.form-control-postfixed
                  input.input.js-datepicker(type='text', placeholder='dd.mm.yyyy', data-date-format='dd.mm.yyyy') 
                  .form-control-addon
                    a.btn.btn-green.js-datepicker-btn
                      i.icon!= icons.calendar
      .row
        .col-12
          article.box-simple.no-mrg-top
            header.box-simple_header
              h3.no-mrg Prepojenie so sociálnymi sieťami
            
            .box-simple_content.no-pad
              .row-switch_item.clearfix
                .row-switch_icon.pull-left
                  i.icon-xl.facebook= icons.facebook
                .row-switch_content.pull-left.offset-top
                  label Prihlásenie cez Facebook
                .row-switch_switcher.pull-right.pull-left-s
                  .js-switch(data-on-label='Pripojený', data-off-label='Nepripojený')
                    input(type='checkbox')
              .row-switch_item.clearfix
                .row-switch_icon.pull-left
                  i.icon-xl.google= icons.google
                .row-switch_content.pull-left.offset-top
                  label Prihlásenie cez Google
                .row-switch_switcher.pull-right.pull-left-s
                  .js-switch(data-on-label='Pripojený', data-off-label='Nepripojený')
                    input(type='checkbox')
              .row-switch_item.clearfix
                .row-switch_icon.pull-left
                  i.icon-xl.twitter= icons.twitter
                .row-switch_content.pull-left.offset-top
                  label Prihlásenie cez Twitter
                .row-switch_switcher.pull-right.pull-left-s
                  .js-switch(data-on-label='Pripojený', data-off-label='Nepripojený')
                    input(type='checkbox')
              .row-switch_item.clearfix
                .row-switch_icon.pull-left
                  i.icon-xl.linkedin= icons.linkedin
                .row-switch_content.pull-left.offset-top
                  label Prihlásenie cez LinkedIn
                .row-switch_switcher.pull-right.pull-left-s
                  .js-switch(data-on-label='Pripojený', data-off-label='Nepripojený')
                    input(type='checkbox')
              .row-switch_item.clearfix
                .row-switch_icon.pull-left.city 
                  i.icon-l= icons.city
                .row-switch_content.pull-left.offset-top
                  label Prihlásenie cez Digitálne mesto
                .row-switch_switcher.pull-right.pull-left-s
                  .js-switch(data-on-label='Pripojený', data-off-label='Nepripojený')
                    input(type='checkbox')

nastavenia-ucet.html
<!DOCTYPE html>
<!--if IE 7<html class='no-js lt-ie9 lt-ie8 ie7 lang='en'>
-->
<!--if IE 8<html class='no-js lt-ie9 ie8' lang='en'>
-->
<!--if IE 9<html class="no-js ie9">
-->
<!--if gt IE 9<html class="no-js gt-ie9">
-->
<!--if !IE
<![IGNORE[--><!--[IGNORE[]]-->
<html class="no-js noie">
<!--
-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>Zelená Pošta</title>
  <meta name="author" content="Lighting Beetle s.r.o.">
  <meta name="description" content="Zelená Pošta">
  <meta name="keywords" content="Zelená Pošta">
  <link rel="icon" type="image/png" href="static/imgs/zep-favicon.png">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,600,700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="static/plugins/icomoon/style.css">
  <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
  <header class="header-main">
    <div class="header-bar">
      <section class="header-bar-right">
        <div class="header-control-bar"><a class="btn btn-white-2 pull-right">Odhlásiť</a>
          <div class="header-control-tabs"><a data-target="#main-nav" data-toggle="dropdown" class="header-control-tab show-s show-xs js-toggle"><span class="header-notify text-small">84</span><i class="icon icon-s">navicon</i></a><a data-target="#user-bar" data-toggle="dropdown" class="header-control-tab show-s show-xs js-toggle"><i class="icon icon-s">user</i></a><a href="nastavenia.html" class="header-control-tab"><i class="icon icon-s">settings</i></a></div>
        </div>
        <!-- end: header-control-bar-->
        <div id="user-bar" class="header-user-bar">
          <table>
            <tr>
              <td class="header-user-bar_info"><a class="header-user-bar_info_name">Michaela Kočiová</a><br><span class="header-user-bar_info_email">100-122-893@zelenaposta.sk</span></td>
              <td class="header-user-bar_credit"><a><b class='hide-xs'>Kredit:</b> 1984,00 &euro;</a></td>
            </tr>
          </table>
        </div>
        <!-- end: header-user-bar-->
        
      </section>
      <section class="header-bar-left hide-s"><a href="index.html" title="Zelená pošta" class="header-logo"><img src="static/imgs/zep-logo.svg" alt="Zelená pošta" class="img-fluid"></a></section>
      <section id="main-nav" class="header-bar-mid">
        <nav class="header-nav-bar">
          <ul class="header-nav-bar_list">
            <li class="header-nav-bar_list_item"><a href="index.html" class="header-nav-bar_list_link  ">
                 
                Prehľad
                <span class="header-notify text-small hide-s">84</span></a></li>
            <li class="header-nav-bar_list_item"><a href="schranka.html" class="header-nav-bar_list_link  with-subnav">
                 
                Schránka
                </a></li>
            <li class="header-nav-bar_list_item"><a href="dokumenty.html" class="header-nav-bar_list_link  with-subnav">
                 
                Dokumenty
                </a></li>
            <li class="header-nav-bar_list_item"><a href="sluzby.html" class="header-nav-bar_list_link  ">
                 
                Služby
                </a></li>
            <li class="header-nav-bar_list_item"><a href="kalendar.html" class="header-nav-bar_list_link  ">
                 
                Kalendár
                </a></li>
            <li class="header-nav-bar_list_item"><a href="statistiky.html" class="header-nav-bar_list_link  ">
                 
                Štatistiky
                </a></li>
          </ul>
        </nav>
      </section>
    </div>
    <!-- end: header-bar   -->
  </header>
  <div class="breadcrumbs"><a onclick="history.back()">< Späť
      <ul class="breadcrumbs_list hide-xs">
        <li class="breadcrumbs_item"><a href="index.html" class="breadcrumbs_link">Domov</a></li>
        <li class="breadcrumbs_item">></li>
        <li class="breadcrumbs_item"><a href="nastavenia.html" class="breadcrumbs_link">Nastavenia</a></li>
      </ul></a></div>
  <main class="content-main">
    <div class="grid-12col">
      <div class="row row-space no-mrg-bottom">
        <div class="col-12">
          <div class="subnavigation">
            <ul class="subnavigation_list">
              <li class="subnavigation_item"><a href="nastavenia.html" class="subnavigation_link">Osobné nastavenia</a></li>
              <li class="subnavigation_item"><a href="nastavenia-ucet.html" class="subnavigation_link active">Nastavenia účtu</a></li>
              <li class="subnavigation_item"><a href="nastavenia-zariadenia.html" class="subnavigation_link">Pripojené zariadenia</a></li>
              <li class="subnavigation_item"><a href="nastavenia-pouzivatelia.html" class="subnavigation_link">Používatelia</a></li>
              <li class="subnavigation_item"><a href="nastavenia-kredit.html" class="subnavigation_link">Kredit</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row row-space">
        <div class="col-12">
          <p>
            <div class="form-row">
              <div class="form-label form-label-inline form-label-stack-xs form-col-4 form-col-m-5 form-col-s-7 form-col-xs-12">
                <label>Výber jazyka:</label>
              </div>
              <div class="form-controls form-col-2 form-col-m-4 form-col-s-5">
                <div class="form-control">
                  <select class="js-select">
                    <option>Slovenčina</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-label form-label-inline form-label-stack-xs form-col-4 form-col-m-5 form-col-s-7 form-col-xs-12">
                <label> <span title="Opakuje sa každý mesiac" class="tooltip-icon js-tooltip">?</span>Začiatok fakturačného obdobia:</label>
              </div>
              <div class="form-controls form-col-2 form-col-m-4 form-col-s-5">
                <div class="form-control form-control-postfixed">
                  <input type="text" placeholder="dd.mm.yyyy" data-date-format="dd.mm.yyyy" class="input js-datepicker">
                  <div class="form-control-addon"><a class="btn btn-green js-datepicker-btn"><i class="icon">calendar</i></a></div>
                </div>
              </div>
            </div>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <article class="box-simple no-mrg-top">
            <header class="box-simple_header">
              <h3 class="no-mrg">Prepojenie so sociálnymi sieťami</h3>
            </header>
            <div class="box-simple_content no-pad">
              <div class="row-switch_item clearfix">
                <div class="row-switch_icon pull-left"><i class="icon-xl facebook">facebook</i></div>
                <div class="row-switch_content pull-left offset-top">
                  <label>Prihlásenie cez Facebook</label>
                </div>
                <div class="row-switch_switcher pull-right pull-left-s">
                  <div data-on-label="Pripojený" data-off-label="Nepripojený" class="js-switch">
                    <input type="checkbox">
                  </div>
                </div>
              </div>
              <div class="row-switch_item clearfix">
                <div class="row-switch_icon pull-left"><i class="icon-xl google">google</i></div>
                <div class="row-switch_content pull-left offset-top">
                  <label>Prihlásenie cez Google</label>
                </div>
                <div class="row-switch_switcher pull-right pull-left-s">
                  <div data-on-label="Pripojený" data-off-label="Nepripojený" class="js-switch">
                    <input type="checkbox">
                  </div>
                </div>
              </div>
              <div class="row-switch_item clearfix">
                <div class="row-switch_icon pull-left"><i class="icon-xl twitter">twitter</i></div>
                <div class="row-switch_content pull-left offset-top">
                  <label>Prihlásenie cez Twitter</label>
                </div>
                <div class="row-switch_switcher pull-right pull-left-s">
                  <div data-on-label="Pripojený" data-off-label="Nepripojený" class="js-switch">
                    <input type="checkbox">
                  </div>
                </div>
              </div>
              <div class="row-switch_item clearfix">
                <div class="row-switch_icon pull-left"><i class="icon-xl linkedin">linkedin</i></div>
                <div class="row-switch_content pull-left offset-top">
                  <label>Prihlásenie cez LinkedIn</label>
                </div>
                <div class="row-switch_switcher pull-right pull-left-s">
                  <div data-on-label="Pripojený" data-off-label="Nepripojený" class="js-switch">
                    <input type="checkbox">
                  </div>
                </div>
              </div>
              <div class="row-switch_item clearfix">
                <div class="row-switch_icon pull-left city"> <i class="icon-l">city</i></div>
                <div class="row-switch_content pull-left offset-top">
                  <label>Prihlásenie cez Digitálne mesto</label>
                </div>
                <div class="row-switch_switcher pull-right pull-left-s">
                  <div data-on-label="Pripojený" data-off-label="Nepripojený" class="js-switch">
                    <input type="checkbox">
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </main>
  <footer class="footer-main text-color-white">
    <div class="grid-12col">
      <div class="row">
        <div class="col-6 col-s-4 col-xs-2">
          <h3 class="footer-main_headline text-color-white">Zelená pošta</h3>
          <div class="row">
            <ul class="col-6 col-xs-2 nav-footer">
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Zelená pošta</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Posielať zásielky</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Prijímať zásielky</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Zelené tlačiareň</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Bločky</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Cenník</a></li>
            </ul>
            <ul class="col-6 col-xs-2 nav-footer">
              <li class="nav-footer_item"><a href="" class="nav-footer_link">O nás</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Novinky</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">FAQ</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Kontakt</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Všeobecné obchodné podmienky</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">API prepojenie</a></li>
            </ul>
          </div>
        </div>
        <div class="col-6 col-s-4 col-xs-2 col-space-s">
          <div class="row">
            <div class="col-6 col-xs-2 col-space-xs">
              <h3 class="footer-main_headline text-color-white">Mobilné aplikácie</h3>
              <ul class="nav-footer">
                <li class="nav-footer_item"><a href="https://itunes.apple.com/gb/app/zelena-posta/id687733400" class="nav-footer_link nav-footer_app"> <i class="icon icon-xl">apple</i></a><a href="https://play.google.com/store/apps/details?id=sk.zp.zelenapostaapp" class="nav-footer_link nav-footer_app"> <i class="icon icon-xl">android</i></a></li>
              </ul>
            </div>
            <div class="col-6 col-xs-2">
              <h3 class="footer-main_headline text-color-white">Sociálne siete</h3>
              <ul class="nav-footer">
                <li class="nav-footer_item"><a class="nav-footer_link nav-footer_social"><i class="icon icon-m nav-footer_icon">facebook</i><span>Facebook</span></a></li>
                <li class="nav-footer_item"><a class="nav-footer_link nav-footer_social"><i class="icon icon-m nav-footer_icon">youtube</i><span>Youtube</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="static/js/jquery.min.js"></script>
  <script type="text/javascript" src="static/js/jquery-migrate.min.js"></script>
  <script type="text/javascript" src="static/js/modernizr.js"></script>
  <script type="text/javascript" src="static/plugins/icomoon/liga.js"></script>
  <script type="text/javascript" src="static/plugins/customselect/dist/js/bootstrap-select.js"></script>
  <script type="text/javascript" src="static/plugins/switch/js/bootstrap-switch.js"></script>
  <script type="text/javascript" src="static/plugins/datepicker2/js/bootstrap-datepicker.js"></script>
  <script type="text/javascript" src="static/plugins/autosize/jquery.autosize.js"></script>
  <script type="text/javascript" src="static/plugins/remodal/src/jquery.remodal.js"></script>
  <script type="text/javascript" src="static/plugins/clockpicker/dist/jquery-clockpicker.js"></script>
  <script type="text/javascript" src="static/plugins/tooltipster/js/jquery.tooltipster.js"></script>
  <script type="text/javascript" src="static/js/main.js"></script>
</body></html>
