nastavenia-pouzivatelia.html
<!DOCTYPE html>
<!--if IE 7<html class='no-js lt-ie9 lt-ie8 ie7 lang='en'>
-->
<!--if IE 8<html class='no-js lt-ie9 ie8' lang='en'>
-->
<!--if IE 9<html class="no-js ie9">
-->
<!--if gt IE 9<html class="no-js gt-ie9">
-->
<!--if !IE
<![IGNORE[--><!--[IGNORE[]]-->
<html class="no-js noie">
<!--
-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>Zelená Pošta</title>
  <meta name="author" content="Lighting Beetle s.r.o.">
  <meta name="description" content="Zelená Pošta">
  <meta name="keywords" content="Zelená Pošta">
  <link rel="icon" type="image/png" href="static/imgs/zep-favicon.png">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,600,700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="static/plugins/icomoon/style.css">
  <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
  <header class="header-main">
    <div class="header-bar">
      <section class="header-bar-right">
        <div class="header-control-bar"><a class="btn btn-white-2 pull-right">Odhlásiť</a>
          <div class="header-control-tabs"><a data-target="#main-nav" data-toggle="dropdown" class="header-control-tab show-s show-xs js-toggle"><span class="header-notify text-small">84</span><i class="icon icon-s">navicon</i></a><a data-target="#user-bar" data-toggle="dropdown" class="header-control-tab show-s show-xs js-toggle"><i class="icon icon-s">user</i></a><a href="nastavenia.html" class="header-control-tab"><i class="icon icon-s">settings</i></a></div>
        </div>
        <!-- end: header-control-bar-->
        <div id="user-bar" class="header-user-bar">
          <table>
            <tr>
              <td class="header-user-bar_info"><a class="header-user-bar_info_name">Michaela Kočiová</a><br><span class="header-user-bar_info_email">100-122-893@zelenaposta.sk</span></td>
              <td class="header-user-bar_credit"><a><b class='hide-xs'>Kredit:</b> 1984,00 &euro;</a></td>
            </tr>
          </table>
        </div>
        <!-- end: header-user-bar-->
        
      </section>
      <section class="header-bar-left hide-s"><a href="index.html" title="Zelená pošta" class="header-logo"><img src="static/imgs/zep-logo.svg" alt="Zelená pošta" class="img-fluid"></a></section>
      <section id="main-nav" class="header-bar-mid">
        <nav class="header-nav-bar">
          <ul class="header-nav-bar_list">
            <li class="header-nav-bar_list_item"><a href="index.html" class="header-nav-bar_list_link  ">
                 
                Prehľad
                <span class="header-notify text-small hide-s">84</span></a></li>
            <li class="header-nav-bar_list_item"><a href="schranka.html" class="header-nav-bar_list_link  with-subnav">
                 
                Schránka
                </a></li>
            <li class="header-nav-bar_list_item"><a href="dokumenty.html" class="header-nav-bar_list_link  with-subnav">
                 
                Dokumenty
                </a></li>
            <li class="header-nav-bar_list_item"><a href="sluzby.html" class="header-nav-bar_list_link  ">
                 
                Služby
                </a></li>
            <li class="header-nav-bar_list_item"><a href="kalendar.html" class="header-nav-bar_list_link  ">
                 
                Kalendár
                </a></li>
            <li class="header-nav-bar_list_item"><a href="statistiky.html" class="header-nav-bar_list_link  ">
                 
                Štatistiky
                </a></li>
          </ul>
        </nav>
      </section>
    </div>
    <!-- end: header-bar   -->
  </header>
  <div class="breadcrumbs"><a onclick="history.back()">< Späť
      <ul class="breadcrumbs_list hide-xs">
        <li class="breadcrumbs_item"><a href="index.html" class="breadcrumbs_link">Domov</a></li>
        <li class="breadcrumbs_item">></li>
        <li class="breadcrumbs_item"><a href="nastavenia.html" class="breadcrumbs_link">Nastavenia</a></li>
      </ul></a></div>
  <main class="content-main">
    <div class="grid-12col">
      <div class="row row-space no-mrg-bottom">
        <div class="col-12">
          <div class="subnavigation">
            <ul class="subnavigation_list">
              <li class="subnavigation_item"><a href="nastavenia.html" class="subnavigation_link">Osobné nastavenia</a></li>
              <li class="subnavigation_item"><a href="nastavenia-ucet.html" class="subnavigation_link">Nastavenia účtu</a></li>
              <li class="subnavigation_item"><a href="nastavenia-zariadenia.html" class="subnavigation_link">Pripojené zariadenia</a></li>
              <li class="subnavigation_item"><a href="nastavenia-pouzivatelia.html" class="subnavigation_link active">Používatelia</a></li>
              <li class="subnavigation_item"><a href="nastavenia-kredit.html" class="subnavigation_link">Kredit</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row row-space">
        <div class="col-12">
          <p class="text-big">Zdielajte Zelenú poštu s Vašou rodinou, priateľmi, alebo kolegami.</p>
          <p>Ak si želáte aby mohli nahliadnuť do vašej prijatej alebo odoslanej pošty aj iní používatelia, pozvite ich aby ste siu spoločne zdielalli schránku v Zelenej pošte.</p>
          <p>
            <button type="button" data-modal-target="modal-add-user" class="btn btn-green">Pridať používateľa</button>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <article class="box-simple headerless no-mrg-top">
            <div class="box-simple_content no-pad">
              <table class="table table-hovers table-responsive-s table-shipments-out">
                <thead class="hide-s">
                  <tr>
                    <th>Meno a priezvisko</th>
                    <th>E-mail</th>
                    <th>Stav prepojenia klienta</th>
                    <th>Dátum prepojenia</th>
                    <th>Prijaté zásielky</th>
                    <th>Odoslané zásielky</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Michaela Kočiová</td>
                    <td class="td-pull-right-s">kociova@zelenaposta.sk</td>
                    <td class="td-clear-s text-color-green text-bold">Prepojené</td>
                    <td class="td-pull-right-s">24.9.2014</td>
                    <td class="td-clear-s text-center">
                      <div class="checkbox">
                        <input type="checkbox" id="checkbox-01" name="checkbox-01" checked class="checkbox-input success">
                        <label for="checkbox-01" class="checkbox-custom"></label>
                        <label for="checkbox-01" class="checkbox-label"> <span class="show-s show-xs">Prijaté</span></label>
                      </div>
                    </td>
                    <td class="td-pull-right-s text-center">
                      <div class="checkbox">
                        <input type="checkbox" id="checkbox-02" name="checkbox-02" class="checkbox-input success">
                        <label for="checkbox-02" class="checkbox-custom"></label>
                        <label for="checkbox-02" class="checkbox-label"> <span class="show-s show-xs">Odoslané</span></label>
                      </div>
                    </td>
                    <td class="hide-s text-right"><a class="btn btn-orange">Zmazať</a></td>
                  </tr>
                  <tr>
                    <td>Michaela Kočiová</td>
                    <td class="td-pull-right-s">kociova@zelenaposta.sk</td>
                    <td class="td-clear-s text-color-orange text-bold">Čakám na odpoveď</td>
                    <td class="td-pull-right-s">24.9.2014</td>
                    <td class="td-clear-s text-center">
                      <div class="checkbox">
                        <input type="checkbox" id="checkbox-03" name="checkbox-03" class="checkbox-input error">
                        <label for="checkbox-03" class="checkbox-custom"></label>
                        <label for="checkbox-03" class="checkbox-label"> <span class="show-s show-xs">Prijaté</span></label>
                      </div>
                    </td>
                    <td class="td-pull-right-s text-center">
                      <div class="checkbox">
                        <input type="checkbox" id="checkbox-04" name="checkbox-04" checked class="checkbox-input error">
                        <label for="checkbox-04" class="checkbox-custom"></label>
                        <label for="checkbox-04" class="checkbox-label"> <span class="show-s show-xs">Odoslané</span></label>
                      </div>
                    </td>
                    <td class="hide-s text-right"><a class="btn btn-orange">Zmazať</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <footer class="box-simple_footer box-simple_pagination">
              <ul class="pagination">
                <li class="pagination_item"><a class="btn btn-white"><i class="icon">doubleleft</i></a></li>
                <li class="pagination_item"><span class="pagination_link">&hellip;</span></li>
                <li class="pagination_item"><a class="pagination_link active">1</a>
                </li>
                <li class="pagination_item"><a class="pagination_link">2</a>
                </li>
                <li class="pagination_item"><a class="pagination_link">3</a>
                </li>
                <li class="pagination_item"><a class="pagination_link">4</a>
                </li>
                <li class="pagination_item"><a class="pagination_link">5</a>
                </li>
                <li class="pagination_item"><a class="pagination_link">6</a>
                </li>
                <li class="pagination_item"><a class="pagination_link">7</a>
                </li>
                <li class="pagination_item"><span class="pagination_link">&hellip;</span></li>
                <li class="pagination_item"><a class="btn btn-white"><i class="icon">doubleright</i></a></li>
              </ul>
            </footer>
          </article>
        </div>
      </div>
    </div>
  </main>
  <article data-modal-id="modal-add-user" class="modal">
    <header class="modal_header">
      <h3 class="no-mrg"> <i class="icon text-color-darkgreen">info</i> Pridať použúvateľa</h3><a class="modal-close"><i class="icon">closesmall</i></a>
    </header>
    <div class="modal_content">
      <p class="no-mrg-top">Pridaním nového používateľa si vzájomne zozdieľate prijaté alebo odoslané zásielky.</p>
      <div class="form-row">
        <div class="form-label form-label-inline form-label-stack-xs form-col-3 form-col-s-3">
          <label>E-mail:</label>
        </div>
        <div class="form-controls form-col-6 form-col-xs-12">
          <div class="form-control">
            <input type="email" class="input">
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-label form-label-inline form-label-stack-xs form-col-3 form-col-s-3">
          <label>Správa:</label>
        </div>
        <div class="form-controls form-col-9 form-col-xs-12">
          <div class="form-control">
            <textarea rows="4" class="input"></textarea>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-label form-label-inline form-label-stack-xs form-col-3 form-col-s-3"></div>
        <div class="form-controls form-col-9 form-col-xs-12">
          <label class="input-static">S týmto používateľom chcem zdielať:</label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-label form-label-inline form-col-3 form-col-s-3 hide-xs"></div>
        <div class="form-controls form-col-9">
          <div class="checkbox-group">
            <div class="checkbox">
              <input type="checkbox" id="checkbox-prijate" name="checkbox-prijate" class="checkbox-input">
              <label for="checkbox-prijate" class="checkbox-custom"></label>
              <label for="checkbox-prijate" class="checkbox-label">Prijaté zásielky</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" id="checkbox-odoslane" name="checkbox-odoslane" class="checkbox-input">
              <label for="checkbox-odoslane" class="checkbox-custom"></label>
              <label for="checkbox-odoslane" class="checkbox-label">Odoslané zásielky</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="modal_footer">
      <div class="btnline text-right">
        <button type="button" class="btn modal-cancel">Zrušiť</button>
        <button type="button" class="btn btn-green modal-confirm">Pridať používateľa</button>
      </div>
    </footer>
  </article>
  <footer class="footer-main text-color-white">
    <div class="grid-12col">
      <div class="row">
        <div class="col-6 col-s-4 col-xs-2">
          <h3 class="footer-main_headline text-color-white">Zelená pošta</h3>
          <div class="row">
            <ul class="col-6 col-xs-2 nav-footer">
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Zelená pošta</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Posielať zásielky</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Prijímať zásielky</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Zelené tlačiareň</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Bločky</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Cenník</a></li>
            </ul>
            <ul class="col-6 col-xs-2 nav-footer">
              <li class="nav-footer_item"><a href="" class="nav-footer_link">O nás</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Novinky</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">FAQ</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Kontakt</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Všeobecné obchodné podmienky</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">API prepojenie</a></li>
            </ul>
          </div>
        </div>
        <div class="col-6 col-s-4 col-xs-2 col-space-s">
          <div class="row">
            <div class="col-6 col-xs-2 col-space-xs">
              <h3 class="footer-main_headline text-color-white">Mobilné aplikácie</h3>
              <ul class="nav-footer">
                <li class="nav-footer_item"><a href="https://itunes.apple.com/gb/app/zelena-posta/id687733400" class="nav-footer_link nav-footer_app"> <i class="icon icon-xl">apple</i></a><a href="https://play.google.com/store/apps/details?id=sk.zp.zelenapostaapp" class="nav-footer_link nav-footer_app"> <i class="icon icon-xl">android</i></a></li>
              </ul>
            </div>
            <div class="col-6 col-xs-2">
              <h3 class="footer-main_headline text-color-white">Sociálne siete</h3>
              <ul class="nav-footer">
                <li class="nav-footer_item"><a class="nav-footer_link nav-footer_social"><i class="icon icon-m nav-footer_icon">facebook</i><span>Facebook</span></a></li>
                <li class="nav-footer_item"><a class="nav-footer_link nav-footer_social"><i class="icon icon-m nav-footer_icon">youtube</i><span>Youtube</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="static/js/jquery.min.js"></script>
  <script type="text/javascript" src="static/js/jquery-migrate.min.js"></script>
  <script type="text/javascript" src="static/js/modernizr.js"></script>
  <script type="text/javascript" src="static/plugins/icomoon/liga.js"></script>
  <script type="text/javascript" src="static/plugins/customselect/dist/js/bootstrap-select.js"></script>
  <script type="text/javascript" src="static/plugins/switch/js/bootstrap-switch.js"></script>
  <script type="text/javascript" src="static/plugins/datepicker2/js/bootstrap-datepicker.js"></script>
  <script type="text/javascript" src="static/plugins/autosize/jquery.autosize.js"></script>
  <script type="text/javascript" src="static/plugins/remodal/src/jquery.remodal.js"></script>
  <script type="text/javascript" src="static/plugins/clockpicker/dist/jquery-clockpicker.js"></script>
  <script type="text/javascript" src="static/plugins/tooltipster/js/jquery.tooltipster.js"></script>
  <script type="text/javascript" src="static/js/main.js"></script>
</body></html>

jade/compile/nastavenia-pouzivatelia.jade
extends ../templates/layout

//- Options
block prepend opts
  - var pageID = null;
  - var subpageID = 0;
  - var breadcrumbs = false;
  - var subnavigationPage = 'settings';
  - var subnavigationID = 3;

//- Content
block append content

  .breadcrumbs
    a(onclick="history.back()") < Späť
      ul.breadcrumbs_list.hide-xs
        li.breadcrumbs_item
          a.breadcrumbs_link(href="index.html") Domov
        li.breadcrumbs_item >
        li.breadcrumbs_item
          a.breadcrumbs_link(href="nastavenia.html") Nastavenia
  
  main.content-main

    .grid-12col
      .row.row-space.no-mrg-bottom
        .col-12
          include ../includes/subnavigation  
      .row.row-space
        .col-12
          p.text-big Zdielajte Zelenú poštu s Vašou rodinou, priateľmi, alebo kolegami.
          p Ak si želáte aby mohli nahliadnuť do vašej prijatej alebo odoslanej pošty aj iní používatelia, pozvite ich aby ste siu spoločne zdielalli schránku v Zelenej pošte.
          p
            button.btn.btn-green(type='button', data-modal-target='modal-add-user') Pridať používateľa
      .row
        .col-12
          article.box-simple.headerless.no-mrg-top
            .box-simple_content.no-pad
              table.table.table-hovers.table-responsive-s.table-shipments-out
                thead.hide-s
                  tr
                    th Meno a priezvisko
                    th E-mail
                    th Stav prepojenia klienta
                    th Dátum prepojenia
                    th Prijaté zásielky
                    th Odoslané zásielky
                    th &nbsp;
                tbody
                  tr
                    td Michaela Kočiová
                    td.td-pull-right-s kociova@zelenaposta.sk
                    td.td-clear-s.text-color-green.text-bold Prepojené
                    td.td-pull-right-s 24.9.2014
                    td.td-clear-s.text-center
                      .checkbox
                        input.checkbox-input.success(type='checkbox', id='checkbox-01', name='checkbox-01', checked)
                        label.checkbox-custom(for='checkbox-01')
                        label.checkbox-label(for='checkbox-01') 
                          span.show-s.show-xs Prijaté
                    td.td-pull-right-s.text-center
                      .checkbox
                        input.checkbox-input.success(type='checkbox', id='checkbox-02', name='checkbox-02')
                        label.checkbox-custom(for='checkbox-02')
                        label.checkbox-label(for='checkbox-02') 
                          span.show-s.show-xs Odoslané
                    td.hide-s.text-right
                      a.btn.btn-orange Zmazať
                  tr
                    td Michaela Kočiová
                    td.td-pull-right-s kociova@zelenaposta.sk
                    td.td-clear-s.text-color-orange.text-bold Čakám na odpoveď
                    td.td-pull-right-s 24.9.2014
                    td.td-clear-s.text-center
                      .checkbox
                        input.checkbox-input.error(type='checkbox', id='checkbox-03', name='checkbox-03')
                        label.checkbox-custom(for='checkbox-03')
                        label.checkbox-label(for='checkbox-03') 
                          span.show-s.show-xs Prijaté
                    td.td-pull-right-s.text-center
                      .checkbox
                        input.checkbox-input.error(type='checkbox', id='checkbox-04', name='checkbox-04', checked)
                        label.checkbox-custom(for='checkbox-04')
                        label.checkbox-label(for='checkbox-04') 
                          span.show-s.show-xs Odoslané
                    td.hide-s.text-right
                      a.btn.btn-orange Zmazať
            footer.box-simple_footer.box-simple_pagination
              ul.pagination
                li.pagination_item
                  a.btn.btn-white
                    i.icon= icons.doubleleft
                li.pagination_item
                  span.pagination_link &hellip;
                each key in [1,2,3,4,5,6,7]
                  li.pagination_item
                    - var active = ''
                    - if(key==1) active = 'active';
                    a.pagination_link(class=active)= key
                li.pagination_item
                  span.pagination_link &hellip;
                li.pagination_item
                  a.btn.btn-white
                    i.icon= icons.doubleright  
                    
  include ../includes/modals/modal-add-user.jade
