schranka-odoslane-zasielky.html
<!DOCTYPE html>
<!--if IE 7<html class='no-js lt-ie9 lt-ie8 ie7 lang='en'>
-->
<!--if IE 8<html class='no-js lt-ie9 ie8' lang='en'>
-->
<!--if IE 9<html class="no-js ie9">
-->
<!--if gt IE 9<html class="no-js gt-ie9">
-->
<!--if !IE
<![IGNORE[--><!--[IGNORE[]]-->
<html class="no-js noie">
<!--
-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>Zelená Pošta</title>
  <meta name="author" content="Lighting Beetle s.r.o.">
  <meta name="description" content="Zelená Pošta">
  <meta name="keywords" content="Zelená Pošta">
  <link rel="icon" type="image/png" href="static/imgs/zep-favicon.png">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,600,700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="static/plugins/icomoon/style.css">
  <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
  <header class="header-main">
    <div class="header-bar">
      <section class="header-bar-right">
        <div class="header-control-bar"><a class="btn btn-white-2 pull-right">Odhlásiť</a>
          <div class="header-control-tabs"><a data-target="#main-nav" data-toggle="dropdown" class="header-control-tab show-s show-xs js-toggle"><span class="header-notify text-small">84</span><i class="icon icon-s">navicon</i></a><a data-target="#user-bar" data-toggle="dropdown" class="header-control-tab show-s show-xs js-toggle"><i class="icon icon-s">user</i></a><a href="nastavenia.html" class="header-control-tab"><i class="icon icon-s">settings</i></a></div>
        </div>
        <!-- end: header-control-bar-->
        <div id="user-bar" class="header-user-bar">
          <table>
            <tr>
              <td class="header-user-bar_info"><a class="header-user-bar_info_name">Michaela Kočiová</a><br><span class="header-user-bar_info_email">100-122-893@zelenaposta.sk</span></td>
              <td class="header-user-bar_credit"><a><b class='hide-xs'>Kredit:</b> 1984,00 &euro;</a></td>
            </tr>
          </table>
        </div>
        <!-- end: header-user-bar-->
        
      </section>
      <section class="header-bar-left hide-s"><a href="index.html" title="Zelená pošta" class="header-logo"><img src="static/imgs/zep-logo.svg" alt="Zelená pošta" class="img-fluid"></a></section>
      <section id="main-nav" class="header-bar-mid">
        <nav class="header-nav-bar">
          <ul class="header-nav-bar_list">
            <li class="header-nav-bar_list_item"><a href="index.html" class="header-nav-bar_list_link  ">
                 
                Prehľad
                <span class="header-notify text-small hide-s">84</span></a></li>
            <li class="header-nav-bar_list_item"><a href="schranka.html" class="header-nav-bar_list_link active with-subnav">
                 
                Schránka
                </a></li>
            <li class="header-nav-bar_list_item"><a href="dokumenty.html" class="header-nav-bar_list_link  with-subnav">
                 
                Dokumenty
                </a></li>
            <li class="header-nav-bar_list_item"><a href="sluzby.html" class="header-nav-bar_list_link  ">
                 
                Služby
                </a></li>
            <li class="header-nav-bar_list_item"><a href="kalendar.html" class="header-nav-bar_list_link  ">
                 
                Kalendár
                </a></li>
            <li class="header-nav-bar_list_item"><a href="statistiky.html" class="header-nav-bar_list_link  ">
                 
                Štatistiky
                </a></li>
          </ul>
        </nav>
      </section>
    </div>
    <!-- end: header-bar   -->
  </header>
  <div class="subheader-main">
    <div class="subheader-bar">
      <ul class="subheader-nav-bar">
        <li class="subheader-nav-bar_item"><a href="schranka.html" class="subheader-nav-bar_link">Prijaté zásielky</a></li>
        <li class="subheader-nav-bar_item"><a href="schranka-odoslane.html" class="subheader-nav-bar_link active">Odoslané zásielky</a></li>
      </ul>
    </div>
    <!-- end: subheader bar-->
  </div>
  <!-- end: subheader-main-->
  <div class="breadcrumbs"><a onclick="history.back()">&lsaquo; Späť</a>
    <ul class="breadcrumbs_list hide-xs">
      <li class="breadcrumbs_item"><a href="index.html" class="breadcrumbs_link">Domov</a></li>
      <li class="breadcrumbs_item">&rsaquo;</li>
      <li class="breadcrumbs_item"><a href="schranka.html" class="breadcrumbs_link">Schránka</a></li>
      <li class="breadcrumbs_item">&rsaquo;</li>
      <li class="breadcrumbs_item"><a href="schranka-odoslane.html" class="breadcrumbs_link">Odoslané zásielky</a></li>
    </ul>
  </div>
  <main class="content-main">
    <div class="grid-12col">
      <div class="row">
        <div class="col-12 col-s-3 ofst-s-center col-xs-2">
          <p class="no-mrg-top">
             
            Odoslané zásielky môžete zdieľať aj <a>s inými používateľmi.</a><br>Vaše zásielky si môžete prezerať ako dávky, alebo zásielky, stačí si zmeniť zobrazenie.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-s-3 ofst-s-center col-xs-2">
          <div class="row">
            <div class="col-7 col-m-6 col-space-m no-mrg-top">
              <div class="btn-bar">
                <div class="btn-group"><a href="schranka-odoslane-zasielky.html" class="btn btn-green disabled">Zásielky</a><a href="schranka-odoslane.html" class="btn btn-green">Dávky</a></div>
                <div class="btnline hide-s"><a href="schranka-odoslane-nova.html" class="btn btn-green">Vytvoriť novú zásielku</a><a title="Predtým ako budete chcieť exportovať zásielku je potrebné si ju najskôr vyznačiť. Exportovať môžete buď jednu alebo viac zásielok naraz." class="btn btn-green disabled js-tooltip-icon">Export</a><a title="Vymazaním natrvalo zmažete danú položku, ak si želáte položku/-y vymazať označte položku/-y a stlačte tlačidlo vymazať." class="btn btn-orange disabled js-tooltip-icon">Vymazať</a></div>
              </div>
            </div>
            <div class="col-5 col-m-2 col-s-4 pull-right">
              <div class="form-row">
                <div class="form-label form-label-inline form-label-stack-m form-col-4 form-col-m-12">
                  <label>Prijaté zásielky:</label>
                </div>
                <div class="form-controls form-controls-condensed-s form-col-8 form-col-s-4">
                  <div class="form-control">
                    <select multiple data-addlink-href="#" data-addlink-text="Pridať nového používateľa" class="js-select">
                      <option selected="selected">Moje zásielky</option>
                      <option>Janko Hraško</option>
                      <option>Ferko Mrkvička</option>
                      <option>Mortimer Murdo</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-m-2 col-s-4 pull-right show-m show-s show-xs">
              <div class="row">
                <div class="col-6 col-m-3">
                  <div class="form-row">
                    <div class="form-label form-label-inline form-label-stack-m form-col-4 form-col-m-12">
                      <label>Od:</label>
                    </div>
                    <div class="form-controls form-controls-condensed-s form-col-8 form-col-s-4">
                      <div class="form-control form-control-postfixed">
                        <input type="text" data-date-format="dd.mm.yyyy" placeholder="12.10.2014" class="input js-datepicker">
                        <div class="form-control-addon"><a class="btn btn-green js-datepicker-btn"><i class="icon">calendar</i></a></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-m-3">
                  <div class="form-row">
                    <div class="form-label form-label-inline form-label-stack-m form-col-4 form-col-m-12">
                      <label>Od:</label>
                    </div>
                    <div class="form-controls form-controls-condensed-s form-col-8 form-col-s-4">
                      <div class="form-control form-control-postfixed">
                        <input type="text" data-date-format="dd.mm.yyyy" placeholder="12.10.2014" class="input js-datepicker">
                        <div class="form-control-addon"><a class="btn btn-green js-datepicker-btn"><i class="icon">calendar</i></a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 col-m-2 col-s-4 pull-right show-m show-s show-xs">
              <div class="form-row">
                <div class="form-label form-label-inline form-label-stack-m form-col-4 form-col-m-12">
                  <label>Vyhľadať:</label>
                </div>
                <div class="form-controls form-col-8 form-col-s-4">
                  <div class="form-control">
                    <input type="text" class="input input-search">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-s-3 ofst-s-center col-xs-2">
          <article class="box-simple box-headerless no-mrg-top">
            <div class="box-simple_content no-pad">
              <table class="table table-hovers table-responsive-s js-table">
                <thead class="hide-s">
                  <tr>
                    <th>&nbsp;</th>
                    <th>Dátum podania</th>
                    <th>Príjemca</th>
                    <th class="text-right">Cena (&euro;)</th>
                    <th>Podacie číslo</th>
                    <th class="text-center">Stav</th>
                    <th>&nbsp;</th>
                  </tr>
                  <tr class="hide-m">
                    <td> 
                      <div class="checkbox">
                        <input type="checkbox" id="checkbox-all" name="checkbox-all" data-check="all" class="checkbox-input">
                        <label for="checkbox-all" class="checkbox-custom"></label>
                      </div>
                    </td>
                    <td class="td-filter-date">
                      <div class="from-to-dropdown">
                        <div data-target=".js-drop-picker" class="from-to-dropdown_wrap js-toggle">
                          <div class="from-to-dropdown_content">
                            <div class="from">Od: <span>12.08.2014</span></div>
                            <div class="to">Do: <span>15.10.2014</span></div>
                          </div>
                          <div class="from-to-dropdown_caret"><i class="icon">caretdown</i></div>
                        </div>
                        <div class="drop-picker js-drop-picker js-toggle-dropdown">
                          <div class="drop-picker_column">
                            <div class="form-row">
                              <div class="form-label form-col-3 form-label-inline">
                                <label>Od:</label>
                              </div>
                              <div class="form-controls form-col-9">
                                <div class="form-control form-control-postfixed no-mrg">
                                  <input type="text" data-date-format="dd.mm.yyyy" placeholder="12.10.2014" class="input js-datepicker">
                                  <div class="form-control-addon"><a class="btn btn-green js-datepicker-btn"><i class="icon">calendar</i></a></div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="drop-picker_column">
                            <div class="form-row">
                              <div class="form-label form-col-3 form-label-inline">
                                <label>Od:</label>
                              </div>
                              <div class="form-controls form-col-9">
                                <div class="form-control form-control-postfixed no-mrg">
                                  <input type="text" data-date-format="dd.mm.yyyy" placeholder="12.10.2014" class="input js-datepicker">
                                  <div class="form-control-addon"><a class="btn btn-green js-datepicker-btn"><i class="icon">calendar</i></a></div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="btnblock">
                            <button type="button" data-target=".js-drop-picker" class="btn btn-green drop-picker_confirm js-toggle">Potvrdiť</button>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <input type="text" class="input input-search">
                    </td>
                    <td class="td-filter-price">
                      <div class="form-control form-control-prefixed no-mrg">
                        <div class="form-control-addon"><a class="btn btn-green">&ge;</a></div>
                        <input type="text" class="input">
                      </div>
                    </td>
                    <td>
                      <input type="text" class="input input-search">
                    </td>
                    <td class="td-filter-state">
                      <select class="js-select">
                        <option>Všetky</option>
                        <option data-content="&lt;i class=&quot;icon text-color-lightgreen&quot;&gt;check&lt;/i&gt;">Uhradené</option>
                        <option data-content="&lt;i class=&quot;icon text-color-orange&quot;&gt;euro&lt;/i&gt;">Neuhradené</option>
                      </select>
                    </td>
                    <td>&nbsp;</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="hide-s">
                      <div class="checkbox">
                        <input type="checkbox" id="checkbox-0" name="checkbox-0" class="checkbox-input">
                        <label for="checkbox-0" class="checkbox-custom"></label>
                      </div>
                    </td>
                    <td>13. nov. 2014   <span class="hide-s">, 19:22</span></td>
                    <td>
                      <address>Daňový úrad<br>Nezábudkova 10<br>851 01 Bratislava<br>Slovenská republika</address>
                    </td>
                    <td class="td-pull-right-s text-right">1800,00</td>
                    <td class="hide-s">RN071808555SK</td>
                    <td class="td-pull-right-s td-clear-s text-center"><i title="Uhradené" class="icon text-color-lightgreen js-tooltip">check</i>
                    </td>
                    <td class="td-clear-s td-fixed-4of4-s text-right"><span class="pull-left show-s show-xs">RN071808555SK</span><a href="schranka-odoslane-detail.html" class="btn btn-green pull-right">Detail</a></td>
                  </tr>
                  <tr>
                    <td class="hide-s">
                      <div class="checkbox">
                        <input type="checkbox" id="checkbox-1" name="checkbox-1" class="checkbox-input">
                        <label for="checkbox-1" class="checkbox-custom"></label>
                      </div>
                    </td>
                    <td>13. nov. 2014   <span class="hide-s">, 19:23</span></td>
                    <td>
                      <address>Daňový úrad<br>Nezábudkova 10<br>851 01 Bratislava<br>Slovenská republika</address>
                    </td>
                    <td class="td-pull-right-s text-right">450,00</td>
                    <td class="hide-s">RN047818551SK</td>
                    <td class="td-pull-right-s td-clear-s text-center"><i title="Uhradené" class="icon text-color-lightgreen js-tooltip">check</i>
                    </td>
                    <td class="td-clear-s td-fixed-4of4-s text-right"><span class="pull-left show-s show-xs">RN047818551SK</span><a href="schranka-odoslane-detail.html" class="btn btn-green pull-right">Detail</a></td>
                  </tr>
                  <tr>
                    <td class="hide-s">
                      <div class="checkbox">
                        <input type="checkbox" id="checkbox-2" name="checkbox-2" class="checkbox-input">
                        <label for="checkbox-2" class="checkbox-custom"></label>
                      </div>
                    </td>
                    <td>13. nov. 2014   <span class="hide-s">, 19:24</span></td>
                    <td>
                      <address>Daňový úrad<br>Nezábudkova 10<br>851 01 Bratislava<br>Slovenská republika</address>
                    </td>
                    <td class="td-pull-right-s text-right">630,00</td>
                    <td class="hide-s">RN047818552K</td>
                    <td class="td-pull-right-s td-clear-s text-center">
                      <button type="button" data-modal-target="popup-cancel-shipment" class="btn btn-orange">Zrušiť</button>
                    </td>
                    <td class="td-clear-s td-fixed-4of4-s text-right"><span class="pull-left show-s show-xs">RN047818552K</span><a href="schranka-odoslane-detail.html" class="btn btn-green pull-right">Detail</a></td>
                  </tr>
                  <tr>
                    <td class="hide-s">
                      <div class="checkbox">
                        <input type="checkbox" id="checkbox-3" name="checkbox-3" class="checkbox-input">
                        <label for="checkbox-3" class="checkbox-custom"></label>
                      </div>
                    </td>
                    <td>13. nov. 2014   <span class="hide-s">, 19:25</span></td>
                    <td>
                      <address>Orange Slovensko, a.s.<br>Metodova 8<br> 821 08 Bratislava<br>Slovenská republika</address>
                    </td>
                    <td class="td-pull-right-s text-right">55,00</td>
                    <td class="hide-s">RN048818551A</td>
                    <td class="td-pull-right-s td-clear-s text-center">
                      <button type="button" data-modal-target="popup-cancel-shipment" class="btn btn-orange">Zrušiť</button>
                    </td>
                    <td class="td-clear-s td-fixed-4of4-s text-right"><span class="pull-left show-s show-xs">RN048818551A</span><a href="schranka-odoslane-detail.html" class="btn btn-green pull-right">Detail</a></td>
                  </tr>
                  <tr>
                    <td class="hide-s">
                      <div class="checkbox">
                        <input type="checkbox" id="checkbox-4" name="checkbox-4" class="checkbox-input">
                        <label for="checkbox-4" class="checkbox-custom"></label>
                      </div>
                    </td>
                    <td>13. nov. 2014   <span class="hide-s">, 19:26</span></td>
                    <td>
                      <address>Orange Slovensko, a.s.<br>Metodova 8<br> 821 08 Bratislava<br>Slovenská republika</address>
                    </td>
                    <td class="td-pull-right-s text-right">55,00</td>
                    <td class="hide-s">RN048818551B</td>
                    <td class="td-pull-right-s td-clear-s text-center">
                      <button type="button" data-modal-target="popup-cancel-shipment" class="btn btn-orange">Zrušiť</button>
                    </td>
                    <td class="td-clear-s td-fixed-4of4-s text-right"><span class="pull-left show-s show-xs">RN048818551B</span><a href="schranka-odoslane-detail.html" class="btn btn-green pull-right">Detail</a></td>
                  </tr>
                  <tr>
                    <td class="hide-s">
                      <div class="checkbox">
                        <input type="checkbox" id="checkbox-5" name="checkbox-5" class="checkbox-input">
                        <label for="checkbox-5" class="checkbox-custom"></label>
                      </div>
                    </td>
                    <td>13. nov. 2014   <span class="hide-s">, 19:27</span></td>
                    <td>
                      <address>Orange Slovensko, a.s.<br>Metodova 8<br> 821 08 Bratislava<br>Slovenská republika</address>
                    </td>
                    <td class="td-pull-right-s text-right">55,00</td>
                    <td class="hide-s">RN048818551C</td>
                    <td class="td-pull-right-s td-clear-s text-center">
                      <button type="button" data-modal-target="popup-cancel-shipment" class="btn btn-orange">Zrušiť</button>
                    </td>
                    <td class="td-clear-s td-fixed-4of4-s text-right"><span class="pull-left show-s show-xs">RN048818551C</span><a href="schranka-odoslane-detail.html" class="btn btn-green pull-right">Detail</a></td>
                  </tr>
                  <tr>
                    <td class="hide-s">
                      <div class="checkbox">
                        <input type="checkbox" id="checkbox-6" name="checkbox-6" class="checkbox-input">
                        <label for="checkbox-6" class="checkbox-custom"></label>
                      </div>
                    </td>
                    <td>13. nov. 2014   <span class="hide-s">, 19:28</span></td>
                    <td>
                      <address>Orange Slovensko, a.s.<br>Metodova 8<br> 821 08 Bratislava<br>Slovenská republika</address>
                    </td>
                    <td class="td-pull-right-s text-right">55,00</td>
                    <td class="hide-s">RN048818551D</td>
                    <td class="td-pull-right-s td-clear-s text-center">
                      <button type="button" data-modal-target="popup-cancel-shipment" class="btn btn-orange">Zrušiť</button>
                    </td>
                    <td class="td-clear-s td-fixed-4of4-s text-right"><span class="pull-left show-s show-xs">RN048818551D</span><a href="schranka-odoslane-detail.html" class="btn btn-green pull-right">Detail</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <footer class="box-simple_footer box-simple_pagination">
              <ul class="pagination">
                <li class="pagination_item"><a class="btn btn-white"><i class="icon">doubleleft</i></a></li>
                <li class="pagination_item"><span class="pagination_link">&hellip;</span></li>
                <li class="pagination_item"><a class="pagination_link active">1</a>
                </li>
                <li class="pagination_item"><a class="pagination_link">2</a>
                </li>
                <li class="pagination_item"><a class="pagination_link">3</a>
                </li>
                <li class="pagination_item"><a class="pagination_link">4</a>
                </li>
                <li class="pagination_item"><a class="pagination_link">5</a>
                </li>
                <li class="pagination_item"><a class="pagination_link">6</a>
                </li>
                <li class="pagination_item"><a class="pagination_link">7</a>
                </li>
                <li class="pagination_item"><span class="pagination_link">&hellip;</span></li>
                <li class="pagination_item"><a class="btn btn-white"><i class="icon">doubleright</i></a></li>
              </ul>
            </footer>
          </article>
        </div>
      </div>
    </div>
    <article data-modal-id="popup-cancel-batch" class="modal modal-popup">
      <header class="modal_header modal-popup_header">
        <h3 class="no-mrg"> <i class="icon text-color-darkgreen">info</i> Zrušenie dávky</h3><a class="modal-close"><i class="icon">closesmall</i></a>
      </header>
      <div class="modal_content modal-popup_content">
        <p class="no-mrg-top">Zrušením dávky sa preruší odosielanie nových zásielok. <br/> Naozaj si prajete dávku zrušiť?</p><a class="btn btn-green modal-confirm">Áno, potvrdiť zrušenie</a>
      </div>
    </article>
    <article data-modal-id="popup-cancel-shipment" class="modal modal-popup">
      <header class="modal_header modal-popup_header">
        <h3 class="no-mrg"> <i class="icon text-color-darkgreen">info</i> Zrušenie zásielky</h3><a class="modal-close"><i class="icon">closesmall</i></a>
      </header>
      <div class="modal_content modal-popup_content">
        <p class="no-mrg-top">Zrušením sa preruší odosielanie danej zásielky. <br/> Naozaj si prajete zrušiť túto zásielku?</p><a class="btn btn-green modal-confirm">Áno, potvrdiť zrušenie</a>
      </div>
    </article>
    <article data-modal-id="popup-delete-batch" class="modal modal-popup">
      <header class="modal_header modal-popup_header">
        <h3 class="no-mrg"> <i class="icon text-color-darkgreen">info</i> Vymazanie dávok</h3><a class="modal-close"><i class="icon">closesmall</i></a>
      </header>
      <div class="modal_content modal-popup_content">
        <p class="no-mrg-top">Lorem ipsum Veniam commodo in Duis magna. <br/> Lorem ipsum Nisi exercitation?</p><a class="btn btn-green modal-confirm">Áno, potvrdiť vymazanie</a>
      </div>
    </article>
  </main>
  <footer class="footer-main text-color-white">
    <div class="grid-12col">
      <div class="row">
        <div class="col-6 col-s-4 col-xs-2">
          <h3 class="footer-main_headline text-color-white">Zelená pošta</h3>
          <div class="row">
            <ul class="col-6 col-xs-2 nav-footer">
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Zelená pošta</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Posielať zásielky</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Prijímať zásielky</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Zelené tlačiareň</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Bločky</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Cenník</a></li>
            </ul>
            <ul class="col-6 col-xs-2 nav-footer">
              <li class="nav-footer_item"><a href="" class="nav-footer_link">O nás</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Novinky</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">FAQ</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Kontakt</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Všeobecné obchodné podmienky</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">API prepojenie</a></li>
            </ul>
          </div>
        </div>
        <div class="col-6 col-s-4 col-xs-2 col-space-s">
          <div class="row">
            <div class="col-6 col-xs-2 col-space-xs">
              <h3 class="footer-main_headline text-color-white">Mobilné aplikácie</h3>
              <ul class="nav-footer">
                <li class="nav-footer_item"><a href="https://itunes.apple.com/gb/app/zelena-posta/id687733400" class="nav-footer_link nav-footer_app"> <i class="icon icon-xl">apple</i></a><a href="https://play.google.com/store/apps/details?id=sk.zp.zelenapostaapp" class="nav-footer_link nav-footer_app"> <i class="icon icon-xl">android</i></a></li>
              </ul>
            </div>
            <div class="col-6 col-xs-2">
              <h3 class="footer-main_headline text-color-white">Sociálne siete</h3>
              <ul class="nav-footer">
                <li class="nav-footer_item"><a class="nav-footer_link nav-footer_social"><i class="icon icon-m nav-footer_icon">facebook</i><span>Facebook</span></a></li>
                <li class="nav-footer_item"><a class="nav-footer_link nav-footer_social"><i class="icon icon-m nav-footer_icon">youtube</i><span>Youtube</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="static/js/jquery.min.js"></script>
  <script type="text/javascript" src="static/js/jquery-migrate.min.js"></script>
  <script type="text/javascript" src="static/js/modernizr.js"></script>
  <script type="text/javascript" src="static/plugins/icomoon/liga.js"></script>
  <script type="text/javascript" src="static/plugins/customselect/dist/js/bootstrap-select.js"></script>
  <script type="text/javascript" src="static/plugins/switch/js/bootstrap-switch.js"></script>
  <script type="text/javascript" src="static/plugins/datepicker2/js/bootstrap-datepicker.js"></script>
  <script type="text/javascript" src="static/plugins/autosize/jquery.autosize.js"></script>
  <script type="text/javascript" src="static/plugins/remodal/src/jquery.remodal.js"></script>
  <script type="text/javascript" src="static/plugins/clockpicker/dist/jquery-clockpicker.js"></script>
  <script type="text/javascript" src="static/plugins/tooltipster/js/jquery.tooltipster.js"></script>
  <script type="text/javascript" src="static/js/main.js"></script>
</body></html>

jade/compile/schranka-odoslane-zasielky.jade
extends ../templates/layout

//- Options
block prepend opts
  - var pageID = 1;
  - var subpageID = 1;
  - var breadcrumbs = true;

//- Content
block append content

  main.content-main

    .grid-12col

      .row
        .col-12.col-s-3.ofst-s-center.col-xs-2
          p.no-mrg-top 
            | Odoslané zásielky môžete zdieľať aj <a>s inými používateľmi.</a>
            br
            | Vaše zásielky si môžete prezerať ako dávky, alebo zásielky, stačí si zmeniť zobrazenie.

      .row

        .col-12.col-s-3.ofst-s-center.col-xs-2
          .row

            .col-7.col-m-6.col-space-m.no-mrg-top
              .btn-bar
                .btn-group
                    a.btn.btn-green.disabled(href='schranka-odoslane-zasielky.html') Zásielky
                    a.btn.btn-green(href='schranka-odoslane.html') Dávky
                .btnline.hide-s
                  a.btn.btn-green(href='schranka-odoslane-nova.html') Vytvoriť novú zásielku
                  a.btn.btn-green.disabled.js-tooltip-icon(title="Predtým ako budete chcieť exportovať zásielku je potrebné si ju najskôr vyznačiť. Exportovať môžete buď jednu alebo viac zásielok naraz.") Export
                  a.btn.btn-orange.disabled.js-tooltip-icon(title="Vymazaním natrvalo zmažete danú položku, ak si želáte položku/-y vymazať označte položku/-y a stlačte tlačidlo vymazať.") Vymazať

            .col-5.col-m-2.col-s-4.pull-right
              .form-row
                .form-label.form-label-inline.form-label-stack-m.form-col-4.form-col-m-12
                  label Prijaté zásielky:
                .form-controls.form-controls-condensed-s.form-col-8.form-col-s-4
                  .form-control
                    select.js-select(multiple, data-addlink-href="#", data-addlink-text="Pridať nového používateľa")
                      each option, key in ['Moje zásielky','Janko Hraško','Ferko Mrkvička', 'Mortimer Murdo']
                        if key == 0
                          option(selected='selected') #{option}
                        else
                          option #{option}
            .col-6.col-m-2.col-s-4.pull-right.show-m.show-s.show-xs
              .row
                .col-6.col-m-3
                  .form-row
                    .form-label.form-label-inline.form-label-stack-m.form-col-4.form-col-m-12
                      label Od:
                    .form-controls.form-controls-condensed-s.form-col-8.form-col-s-4
                      .form-control.form-control-postfixed
                        input.input.js-datepicker(type='text', data-date-format="dd.mm.yyyy",placeholder='12.10.2014')
                        .form-control-addon
                          a.btn.btn-green.js-datepicker-btn
                            i.icon= icons.calendar
                .col-6.col-m-3
                  .form-row
                    .form-label.form-label-inline.form-label-stack-m.form-col-4.form-col-m-12
                      label Od:
                    .form-controls.form-controls-condensed-s.form-col-8.form-col-s-4
                      .form-control.form-control-postfixed
                        input.input.js-datepicker(type='text', data-date-format="dd.mm.yyyy",placeholder='12.10.2014')
                        .form-control-addon
                          a.btn.btn-green.js-datepicker-btn
                            i.icon= icons.calendar
            .col-6.col-m-2.col-s-4.pull-right.show-m.show-s.show-xs
              .form-row
                .form-label.form-label-inline.form-label-stack-m.form-col-4.form-col-m-12
                  label Vyhľadať:
                .form-controls.form-col-8.form-col-s-4
                  .form-control
                    input.input.input-search(type='text')

      .row

        .col-12.col-s-3.ofst-s-center.col-xs-2
          article.box-simple.box-headerless.no-mrg-top
            .box-simple_content.no-pad
              table.table.table-hovers.table-responsive-s.js-table
                thead.hide-s
                  tr
                    th &nbsp;
                    th Dátum podania
                    th Príjemca
                    th.text-right Cena (&euro;)
                    th Podacie číslo
                    th.text-center Stav
                    th &nbsp;
                  tr.hide-m
                    td 
                      .checkbox
                        input.checkbox-input(type='checkbox', id='checkbox-all', name='checkbox-all', data-check='all')
                        label.checkbox-custom(for='checkbox-all')
                    td.td-filter-date
                      .from-to-dropdown
                        .from-to-dropdown_wrap.js-toggle(data-target=".js-drop-picker")
                          .from-to-dropdown_content
                            .from Od: 
                              span 12.08.2014
                            .to Do: 
                              span 15.10.2014
                          .from-to-dropdown_caret
                            i.icon caretdown
                        .drop-picker.js-drop-picker.js-toggle-dropdown
                          .drop-picker_column
                            .form-row
                              .form-label.form-col-3.form-label-inline
                                label Od:
                              .form-controls.form-col-9
                                .form-control.form-control-postfixed.no-mrg
                                  input.input.js-datepicker(type='text', data-date-format="dd.mm.yyyy",placeholder='12.10.2014')
                                  .form-control-addon
                                    a.btn.btn-green.js-datepicker-btn
                                      i.icon calendar
                          .drop-picker_column
                            .form-row
                              .form-label.form-col-3.form-label-inline
                                label Od:
                              .form-controls.form-col-9
                                .form-control.form-control-postfixed.no-mrg
                                  input.input.js-datepicker(type='text', data-date-format="dd.mm.yyyy",placeholder='12.10.2014')
                                  .form-control-addon
                                    a.btn.btn-green.js-datepicker-btn
                                      i.icon calendar
                          .btnblock
                            button.btn.btn-green.drop-picker_confirm.js-toggle(type='button', data-target=".js-drop-picker") Potvrdiť
                    td
                      input.input.input-search(type='text')
                    td.td-filter-price
                      .form-control.form-control-prefixed.no-mrg
                        .form-control-addon
                          a.btn.btn-green &ge;
                        input.input(type='text')
                    td
                      input.input.input-search(type='text')
                    td.td-filter-state
                      select.js-select
                        option Všetky
                        option(data-content='<i class="icon text-color-lightgreen">check</i>') Uhradené
                        option(data-content='<i class="icon text-color-orange">euro</i>') Neuhradené
                    td &nbsp;
                tbody
                  each shipment, key in shipmentsBatch
                    tr
                      td.hide-s
                        .checkbox
                          input.checkbox-input(type='checkbox', id='checkbox-' + key, name='checkbox-' + key)
                          label.checkbox-custom(for='checkbox-' + key)
                      td
                        | #{shipment.date}   
                        span.hide-s , #{shipment.time}
                      td
                        address
                          | #{shipment.to.name}
                          br
                          | #{shipment.to.street}
                          br
                          | #{shipment.to.city}
                          br
                          | #{shipment.to.country}
                      td.td-pull-right-s.text-right= shipment.price
                      td.hide-s= shipment.id
                      td.td-pull-right-s.td-clear-s.text-center
                        if shipment.payed == true
                          i.icon.text-color-lightgreen.js-tooltip(title='Uhradené')= icons.check
                        else 
                          button.btn.btn-orange(type='button', data-modal-target='popup-cancel-shipment') Zrušiť
                      td.td-clear-s.td-fixed-4of4-s.text-right
                        span.pull-left.show-s.show-xs= shipment.id 
                        a.btn.btn-green.pull-right(href='schranka-odoslane-detail.html') Detail

            footer.box-simple_footer.box-simple_pagination
              ul.pagination
                li.pagination_item
                  a.btn.btn-white
                    i.icon= icons.doubleleft
                li.pagination_item
                  span.pagination_link &hellip;
                each key in [1,2,3,4,5,6,7]
                  li.pagination_item
                    - var active = ''
                    - if(key==1) active = 'active';
                    a.pagination_link(class=active)= key
                li.pagination_item
                  span.pagination_link &hellip;
                li.pagination_item
                  a.btn.btn-white
                    i.icon= icons.doubleright

    include ../includes/popups/popup-cancel-batch
    include ../includes/popups/popup-cancel-shipment
    include ../includes/popups/popup-delete-batch
