jade/compile/sluzby-archiv.jade
extends ../templates/layout

//- Options
block prepend opts
  - var pageID = 3;
  - var breadcrumbs = true;
  - var breadcrumbsMore = [
  -   {
  -     'title': 'Archív služieb',
  -     'href': 'sluzby-archiv.html'
  -   }
  - ]

//- Content
block append content

  main.content-main

    .grid-12col

      .row
        .col-12.col-s-3.ofst-s-center.col-xs-2
          h3.no-mrg-top Zoznam archivovaných služieb

      .row.row-space

        .col-12.col-s-3.ofst-s-center.col-xs-2
            .btnline

              a.btn.btn-link.pull-right(href='sluzby.html') Prejsť na aktívne služby

              a.btn.btn-green.disabled.js-tooltip-icon.hide-s(title="Lorem ipsum Ea nisi occaecat.", data-modal-target='popup-delete-documents') Vrátiť späť do aktívnych
              a.btn.btn-orange.disabled.js-tooltip-icon.hide-s.btn-full-xs(title="Vymazaním natrvalo zmažete danú položku, ak si želáte položku/-y vymazať označte položku/-y a stlačte tlačidlo vymazať.", data-modal-target='popup-delete-documents') Vymazať
              

      .row

        .col-12.col-s-3.ofst-s-center.col-xs-2
          article.box-simple.box-headerless.no-mrg-top
            .box-simple_content.no-pad
              table.table.table-large.table-hovers.table-responsive-s.js-table.table-archived
                tbody
                  each service, key in services
                    tr
                      td.hide-s
                        .checkbox
                          input.checkbox-input(type='checkbox', id='checkbox-' + key, name='checkbox-' + key)
                          label.checkbox-custom(for='checkbox-' + key)
                      td: img.img-table-logo.img-l(src=service.logo, alt=service.name)
                      td.td-break-sender
                        strong= service.name
                        if service.signature
                          br
                          | #{service.signature}
                      td.td-clear-s
                        | <strong>Číslo účtu:</strong> #{service.accnumber}
                        br
                        | <strong>Zákazníkom od</strong>: #{service.usersince}
                      td.td-clear-s
                        | <strong>Inforlinka</strong>: #{service.infocall}
                        br
                        | #{service.email}
                      td.td-pull-right-s.text-right 
                        a.btn.btn-green(href='sluzby-detail.html') Detail
              
            footer.box-simple_footer.box-simple_pagination
              ul.pagination
                li.pagination_item
                  a.btn.btn-white
                    i.icon= icons.doubleleft
                li.pagination_item
                  span.pagination_link &hellip;
                each key in [1,2,3,4,5,6,7]
                  li.pagination_item
                    - var active = ''
                    - if(key==1) active = 'active';
                    a.pagination_link(class=active)= key
                li.pagination_item
                  span.pagination_link &hellip;
                li.pagination_item
                  a.btn.btn-white
                    i.icon= icons.doubleright

sluzby-archiv.html
<!DOCTYPE html>
<!--if IE 7<html class='no-js lt-ie9 lt-ie8 ie7 lang='en'>
-->
<!--if IE 8<html class='no-js lt-ie9 ie8' lang='en'>
-->
<!--if IE 9<html class="no-js ie9">
-->
<!--if gt IE 9<html class="no-js gt-ie9">
-->
<!--if !IE
<![IGNORE[--><!--[IGNORE[]]-->
<html class="no-js noie">
<!--
-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>Zelená Pošta</title>
  <meta name="author" content="Lighting Beetle s.r.o.">
  <meta name="description" content="Zelená Pošta">
  <meta name="keywords" content="Zelená Pošta">
  <link rel="icon" type="image/png" href="static/imgs/zep-favicon.png">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,600,700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="static/plugins/icomoon/style.css">
  <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
  <header class="header-main">
    <div class="header-bar">
      <section class="header-bar-right">
        <div class="header-control-bar"><a class="btn btn-white-2 pull-right">Odhlásiť</a>
          <div class="header-control-tabs"><a data-target="#main-nav" data-toggle="dropdown" class="header-control-tab show-s show-xs js-toggle"><span class="header-notify text-small">84</span><i class="icon icon-s">navicon</i></a><a data-target="#user-bar" data-toggle="dropdown" class="header-control-tab show-s show-xs js-toggle"><i class="icon icon-s">user</i></a><a href="nastavenia.html" class="header-control-tab"><i class="icon icon-s">settings</i></a></div>
        </div>
        <!-- end: header-control-bar-->
        <div id="user-bar" class="header-user-bar">
          <table>
            <tr>
              <td class="header-user-bar_info"><a class="header-user-bar_info_name">Michaela Kočiová</a><br><span class="header-user-bar_info_email">100-122-893@zelenaposta.sk</span></td>
              <td class="header-user-bar_credit"><a><b class='hide-xs'>Kredit:</b> 1984,00 &euro;</a></td>
            </tr>
          </table>
        </div>
        <!-- end: header-user-bar-->
        
      </section>
      <section class="header-bar-left hide-s"><a href="index.html" title="Zelená pošta" class="header-logo"><img src="static/imgs/zep-logo.svg" alt="Zelená pošta" class="img-fluid"></a></section>
      <section id="main-nav" class="header-bar-mid">
        <nav class="header-nav-bar">
          <ul class="header-nav-bar_list">
            <li class="header-nav-bar_list_item"><a href="index.html" class="header-nav-bar_list_link  ">
                 
                Prehľad
                <span class="header-notify text-small hide-s">84</span></a></li>
            <li class="header-nav-bar_list_item"><a href="schranka.html" class="header-nav-bar_list_link  with-subnav">
                 
                Schránka
                </a></li>
            <li class="header-nav-bar_list_item"><a href="dokumenty.html" class="header-nav-bar_list_link  with-subnav">
                 
                Dokumenty
                </a></li>
            <li class="header-nav-bar_list_item"><a href="sluzby.html" class="header-nav-bar_list_link active ">
                 
                Služby
                </a></li>
            <li class="header-nav-bar_list_item"><a href="kalendar.html" class="header-nav-bar_list_link  ">
                 
                Kalendár
                </a></li>
            <li class="header-nav-bar_list_item"><a href="statistiky.html" class="header-nav-bar_list_link  ">
                 
                Štatistiky
                </a></li>
          </ul>
        </nav>
      </section>
    </div>
    <!-- end: header-bar   -->
  </header>
  <div class="breadcrumbs"><a onclick="history.back()">&lsaquo; Späť</a>
    <ul class="breadcrumbs_list hide-xs">
      <li class="breadcrumbs_item"><a href="index.html" class="breadcrumbs_link">Domov</a></li>
      <li class="breadcrumbs_item">&rsaquo;</li>
      <li class="breadcrumbs_item"><a href="sluzby.html" class="breadcrumbs_link">Služby</a></li>
      <li class="breadcrumbs_item">&rsaquo;</li>
      <li class="breadcrumbs_item"><a href="sluzby-archiv.html" class="breadcrumbs_link">Archív služieb</a></li>
    </ul>
  </div>
  <main class="content-main">
    <div class="grid-12col">
      <div class="row">
        <div class="col-12 col-s-3 ofst-s-center col-xs-2">
          <h3 class="no-mrg-top">Zoznam archivovaných služieb</h3>
        </div>
      </div>
      <div class="row row-space">
        <div class="col-12 col-s-3 ofst-s-center col-xs-2">
          <div class="btnline"><a href="sluzby.html" class="btn btn-link pull-right">Prejsť na aktívne služby</a><a title="Lorem ipsum Ea nisi occaecat." data-modal-target="popup-delete-documents" class="btn btn-green disabled js-tooltip-icon hide-s">Vrátiť späť do aktívnych</a><a title="Vymazaním natrvalo zmažete danú položku, ak si želáte položku/-y vymazať označte položku/-y a stlačte tlačidlo vymazať." data-modal-target="popup-delete-documents" class="btn btn-orange disabled js-tooltip-icon hide-s btn-full-xs">Vymazať</a></div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-s-3 ofst-s-center col-xs-2">
          <article class="box-simple box-headerless no-mrg-top">
            <div class="box-simple_content no-pad">
              <table class="table table-large table-hovers table-responsive-s js-table table-archived">
                <tbody>
                  <tr>
                    <td class="hide-s">
                      <div class="checkbox">
                        <input type="checkbox" id="checkbox-0" name="checkbox-0" class="checkbox-input">
                        <label for="checkbox-0" class="checkbox-custom"></label>
                      </div>
                    </td>
                    <td><img src="static/imgs/content/logos/orange.png" alt="Orange Slovensko a.s." class="img-table-logo img-l"></td>
                    <td class="td-break-sender"><strong>Orange Slovensko a.s.</strong>
                    </td>
                    <td class="td-clear-s"><strong>Číslo účtu:</strong> 0123549879878/0900<br><strong>Zákazníkom od</strong>: 18. nov. 2014</td>
                    <td class="td-clear-s"><strong>Inforlinka</strong>: 0124546787<br>orange@orange.sk</td>
                    <td class="td-pull-right-s text-right"> <a href="sluzby-detail.html" class="btn btn-green">Detail</a></td>
                  </tr>
                  <tr>
                    <td class="hide-s">
                      <div class="checkbox">
                        <input type="checkbox" id="checkbox-1" name="checkbox-1" class="checkbox-input">
                        <label for="checkbox-1" class="checkbox-custom"></label>
                      </div>
                    </td>
                    <td><img src="static/imgs/content/logos/orange.png" alt="Orange Slovensko a.s." class="img-table-logo img-l"></td>
                    <td class="td-break-sender"><strong>Orange Slovensko a.s.</strong><br>Eva
                    </td>
                    <td class="td-clear-s"><strong>Číslo účtu:</strong> 0123549879878/0900<br><strong>Zákazníkom od</strong>: 18. nov. 2014</td>
                    <td class="td-clear-s"><strong>Inforlinka</strong>: 0124546787<br>orange@orange.sk</td>
                    <td class="td-pull-right-s text-right"> <a href="sluzby-detail.html" class="btn btn-green">Detail</a></td>
                  </tr>
                  <tr>
                    <td class="hide-s">
                      <div class="checkbox">
                        <input type="checkbox" id="checkbox-2" name="checkbox-2" class="checkbox-input">
                        <label for="checkbox-2" class="checkbox-custom"></label>
                      </div>
                    </td>
                    <td><img src="static/imgs/content/logos/zse.png" alt="Západoslovenská energetika a.s." class="img-table-logo img-l"></td>
                    <td class="td-break-sender"><strong>Západoslovenská energetika a.s.</strong>
                    </td>
                    <td class="td-clear-s"><strong>Číslo účtu:</strong> 0123549879878/0900<br><strong>Zákazníkom od</strong>: 18. nov. 2014</td>
                    <td class="td-clear-s"><strong>Inforlinka</strong>: 0124546787<br>zse@zse.sk</td>
                    <td class="td-pull-right-s text-right"> <a href="sluzby-detail.html" class="btn btn-green">Detail</a></td>
                  </tr>
                  <tr>
                    <td class="hide-s">
                      <div class="checkbox">
                        <input type="checkbox" id="checkbox-3" name="checkbox-3" class="checkbox-input">
                        <label for="checkbox-3" class="checkbox-custom"></label>
                      </div>
                    </td>
                    <td><img src="static/imgs/content/logos/telekom.png" alt="Slovak Telekom" class="img-table-logo img-l"></td>
                    <td class="td-break-sender"><strong>Slovak Telekom</strong><br>internet
                    </td>
                    <td class="td-clear-s"><strong>Číslo účtu:</strong> 0123549876868/0100<br><strong>Zákazníkom od</strong>: 19. nov. 2014</td>
                    <td class="td-clear-s"><strong>Inforlinka</strong>: 0124546790<br>telekom@telekom.sk</td>
                    <td class="td-pull-right-s text-right"> <a href="sluzby-detail.html" class="btn btn-green">Detail</a></td>
                  </tr>
                  <tr>
                    <td class="hide-s">
                      <div class="checkbox">
                        <input type="checkbox" id="checkbox-4" name="checkbox-4" class="checkbox-input">
                        <label for="checkbox-4" class="checkbox-custom"></label>
                      </div>
                    </td>
                    <td><img src="static/imgs/content/logos/zep.png" alt="Zelená pošta s.r.o." class="img-table-logo img-l"></td>
                    <td class="td-break-sender"><strong>Zelená pošta s.r.o.</strong>
                    </td>
                    <td class="td-clear-s"><strong>Číslo účtu:</strong> 0123549874444/0230<br><strong>Zákazníkom od</strong>: 19. nov. 2014</td>
                    <td class="td-clear-s"><strong>Inforlinka</strong>: 0124546666<br>zep@zep.sk</td>
                    <td class="td-pull-right-s text-right"> <a href="sluzby-detail.html" class="btn btn-green">Detail</a></td>
                  </tr>
                  <tr>
                    <td class="hide-s">
                      <div class="checkbox">
                        <input type="checkbox" id="checkbox-5" name="checkbox-5" class="checkbox-input">
                        <label for="checkbox-5" class="checkbox-custom"></label>
                      </div>
                    </td>
                    <td><img src="static/imgs/content/logos/o2.png" alt="O2 Slovakia, s.r.o." class="img-table-logo img-l"></td>
                    <td class="td-break-sender"><strong>O2 Slovakia, s.r.o.</strong>
                    </td>
                    <td class="td-clear-s"><strong>Číslo účtu:</strong> 0123549872222/0230<br><strong>Zákazníkom od</strong>: 19. nov. 2014</td>
                    <td class="td-clear-s"><strong>Inforlinka</strong>: 0124542222<br>o2@o2.sk</td>
                    <td class="td-pull-right-s text-right"> <a href="sluzby-detail.html" class="btn btn-green">Detail</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <footer class="box-simple_footer box-simple_pagination">
              <ul class="pagination">
                <li class="pagination_item"><a class="btn btn-white"><i class="icon">doubleleft</i></a></li>
                <li class="pagination_item"><span class="pagination_link">&hellip;</span></li>
                <li class="pagination_item"><a class="pagination_link active">1</a>
                </li>
                <li class="pagination_item"><a class="pagination_link">2</a>
                </li>
                <li class="pagination_item"><a class="pagination_link">3</a>
                </li>
                <li class="pagination_item"><a class="pagination_link">4</a>
                </li>
                <li class="pagination_item"><a class="pagination_link">5</a>
                </li>
                <li class="pagination_item"><a class="pagination_link">6</a>
                </li>
                <li class="pagination_item"><a class="pagination_link">7</a>
                </li>
                <li class="pagination_item"><span class="pagination_link">&hellip;</span></li>
                <li class="pagination_item"><a class="btn btn-white"><i class="icon">doubleright</i></a></li>
              </ul>
            </footer>
          </article>
        </div>
      </div>
    </div>
  </main>
  <footer class="footer-main text-color-white">
    <div class="grid-12col">
      <div class="row">
        <div class="col-6 col-s-4 col-xs-2">
          <h3 class="footer-main_headline text-color-white">Zelená pošta</h3>
          <div class="row">
            <ul class="col-6 col-xs-2 nav-footer">
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Zelená pošta</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Posielať zásielky</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Prijímať zásielky</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Zelené tlačiareň</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Bločky</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Cenník</a></li>
            </ul>
            <ul class="col-6 col-xs-2 nav-footer">
              <li class="nav-footer_item"><a href="" class="nav-footer_link">O nás</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Novinky</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">FAQ</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Kontakt</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Všeobecné obchodné podmienky</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">API prepojenie</a></li>
            </ul>
          </div>
        </div>
        <div class="col-6 col-s-4 col-xs-2 col-space-s">
          <div class="row">
            <div class="col-6 col-xs-2 col-space-xs">
              <h3 class="footer-main_headline text-color-white">Mobilné aplikácie</h3>
              <ul class="nav-footer">
                <li class="nav-footer_item"><a href="https://itunes.apple.com/gb/app/zelena-posta/id687733400" class="nav-footer_link nav-footer_app"> <i class="icon icon-xl">apple</i></a><a href="https://play.google.com/store/apps/details?id=sk.zp.zelenapostaapp" class="nav-footer_link nav-footer_app"> <i class="icon icon-xl">android</i></a></li>
              </ul>
            </div>
            <div class="col-6 col-xs-2">
              <h3 class="footer-main_headline text-color-white">Sociálne siete</h3>
              <ul class="nav-footer">
                <li class="nav-footer_item"><a class="nav-footer_link nav-footer_social"><i class="icon icon-m nav-footer_icon">facebook</i><span>Facebook</span></a></li>
                <li class="nav-footer_item"><a class="nav-footer_link nav-footer_social"><i class="icon icon-m nav-footer_icon">youtube</i><span>Youtube</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="static/js/jquery.min.js"></script>
  <script type="text/javascript" src="static/js/jquery-migrate.min.js"></script>
  <script type="text/javascript" src="static/js/modernizr.js"></script>
  <script type="text/javascript" src="static/plugins/icomoon/liga.js"></script>
  <script type="text/javascript" src="static/plugins/customselect/dist/js/bootstrap-select.js"></script>
  <script type="text/javascript" src="static/plugins/switch/js/bootstrap-switch.js"></script>
  <script type="text/javascript" src="static/plugins/datepicker2/js/bootstrap-datepicker.js"></script>
  <script type="text/javascript" src="static/plugins/autosize/jquery.autosize.js"></script>
  <script type="text/javascript" src="static/plugins/remodal/src/jquery.remodal.js"></script>
  <script type="text/javascript" src="static/plugins/clockpicker/dist/jquery-clockpicker.js"></script>
  <script type="text/javascript" src="static/plugins/tooltipster/js/jquery.tooltipster.js"></script>
  <script type="text/javascript" src="static/js/main.js"></script>
</body></html>
