jade/compile/sluzby-blank.jade
extends ../templates/layout

//- Options
block prepend opts
  - var pageID = 3;
  - var subpageID = 0;
  - var breadcrumbs = true;
  - var breadcrumbsMore = [
  -   {
  -     'title': 'Nová služba',
  -     'href': 'sluzby-blank.html'
  -   }
  - ]

//- Content
block append content

  main.content-main

    .grid-12col

      .row
        .col-12.col-s-4.col-xs-2
          p.text-big.no-mrg-top
            | Zatiaľ ste ešte neprijali žiadnu zásielku. Aktivujte si elektronické faktúry cez UID a PIN, alebo presmerujte súčasné alebo nové elektornické faktúry na jedno miesto a to do Zelenej Pošty.
          p 
            | Pridať odosielateľa môžete troma spôsobmi:
      
      .row
        .col-6.col-s-4.col-xs-2.no-mrg-top
          article.box-simple.no-mrg-top
            header.box-simple_header
              h3.no-mrg 1. Zadaním UID a PIN
            .box-simple_content.insert-uid-pin_box
              .row
                .col-12.col-s-4
                  p.no-mrg-top 
                    | Prosím zadajte UID a PIN, ktoré sú zobrazené na vašej papierovej zásielke.
                  img.img-fluid.sticker(src="static/imgs/sticker_2x.png", alt="")
                .col-12.col-s-4
                  .form-row
                    .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-m-5.form-col-s-5
                    .form-controls.form-col-6.form-col-m-7.form-col-s-6
                      .form-control
                        label.form-help.form-helper * Všetky polia sú povinné
                  
                  .form-row
                    .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-m-5.form-col-s-5
                      label UID:
                    .form-controls.form-col-6.form-col-m-7.form-col-s-7
                      .form-control
                        input.input(type='text', placeholder='')
                  
                  .form-row
                    .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-m-5.form-col-s-5
                      label PIN:
                    .form-controls.form-col-6.form-col-m-7.form-col-s-7
                      .form-control
                        input.input(type='text', placeholder='')
                  
                  .form-row
                    .form-label.form-label-inline.form-label-stack-xs.form-col-4.form-col-m-5.form-col-s-5
                      label Vlastné označenie:
                    .form-controls.form-col-6.form-col-m-7.form-col-s-7
                      .form-control
                        input.input(type='text', placeholder='')
                        label.form-help Vlastné označenie sa bude zobrazovať v zozname odosielateľov
                  
                  .form-row
                    .form-label.form-label-inline.form-col-4.form-col-m-5.form-col-s-5.hide-xs
                    .form-controls.form-col-7.form-col-m-7.form-col-s-7
                      .form-control.no-mrg
                        a.btn.btn-green.disabled.js-tooltip-icon(title="Pridaním novej služby si aktivujete novú službu z torej Vám budú posielať Vaše faktúry priamo na jedno miesto do Zelenej Pošty.") Pridať novú službu
                
        .col-6.col-s-4.col-xs-2
          article.box-simple.no-mrg-top
            header.box-simple_header
              h3.no-mrg 2. Posielanie zásielok na e-mail 
                .email 120-123-456@zelenaposta.sk
            .box-simple_content
              .row
                .col-12.col-s-4
                  p.no-mrg-top
                    strong Ak máte aktivovanú elektornickú faktúru u vášho poskytovateľa:
                  p 
                   | Stačí zmeniť adresu na webstránke vášho poskytovateľa na doručenie faktúr na adresu vášho konta: 123-123-132@zelenaposta.sk.
                  
                  p
                    strong Ak máte aktivovanú elektornickú faktúru u vášho poskytovateľa:
                  p 
                   | Stačí zmeniť adresu na webstránke vášho poskytovateľa na doručenie faktúr na adresu vášho konta: 123-123-132@zelenaposta.sk.
                .col-12.col-s-4
                  p.no-mrg-top
                    strong Spoločnosti, ktoré poporujú elektronické faktúry:
                  .logo-grid
                    .logo-grid_row
                      .logo-grid_item
                        img.logo(src="static/imgs/content/logo-grid/o2.png", alt="") 
                      .logo-grid_item
                        img.logo(src="static/imgs/content/logo-grid/telekom.png", alt="") 
                      .logo-grid_item
                        img.logo(src="static/imgs/content/logo-grid/orange.png", alt="")
                    .logo-grid_row
                      .logo-grid_item
                        img.logo(src="static/imgs/content/logo-grid/sse.png", alt="") 
                      .logo-grid_item
                        img.logo(src="static/imgs/content/logo-grid/upc.png", alt="") 
                      .logo-grid_item
                        img.logo(src="static/imgs/content/logo-grid/zse.png", alt="") 

sluzby-blank.html
<!DOCTYPE html>
<!--if IE 7<html class='no-js lt-ie9 lt-ie8 ie7 lang='en'>
-->
<!--if IE 8<html class='no-js lt-ie9 ie8' lang='en'>
-->
<!--if IE 9<html class="no-js ie9">
-->
<!--if gt IE 9<html class="no-js gt-ie9">
-->
<!--if !IE
<![IGNORE[--><!--[IGNORE[]]-->
<html class="no-js noie">
<!--
-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>Zelená Pošta</title>
  <meta name="author" content="Lighting Beetle s.r.o.">
  <meta name="description" content="Zelená Pošta">
  <meta name="keywords" content="Zelená Pošta">
  <link rel="icon" type="image/png" href="static/imgs/zep-favicon.png">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,600,700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="static/plugins/icomoon/style.css">
  <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
  <header class="header-main">
    <div class="header-bar">
      <section class="header-bar-right">
        <div class="header-control-bar"><a class="btn btn-white-2 pull-right">Odhlásiť</a>
          <div class="header-control-tabs"><a data-target="#main-nav" data-toggle="dropdown" class="header-control-tab show-s show-xs js-toggle"><span class="header-notify text-small">84</span><i class="icon icon-s">navicon</i></a><a data-target="#user-bar" data-toggle="dropdown" class="header-control-tab show-s show-xs js-toggle"><i class="icon icon-s">user</i></a><a href="nastavenia.html" class="header-control-tab"><i class="icon icon-s">settings</i></a></div>
        </div>
        <!-- end: header-control-bar-->
        <div id="user-bar" class="header-user-bar">
          <table>
            <tr>
              <td class="header-user-bar_info"><a class="header-user-bar_info_name">Michaela Kočiová</a><br><span class="header-user-bar_info_email">100-122-893@zelenaposta.sk</span></td>
              <td class="header-user-bar_credit"><a><b class='hide-xs'>Kredit:</b> 1984,00 &euro;</a></td>
            </tr>
          </table>
        </div>
        <!-- end: header-user-bar-->
        
      </section>
      <section class="header-bar-left hide-s"><a href="index.html" title="Zelená pošta" class="header-logo"><img src="static/imgs/zep-logo.svg" alt="Zelená pošta" class="img-fluid"></a></section>
      <section id="main-nav" class="header-bar-mid">
        <nav class="header-nav-bar">
          <ul class="header-nav-bar_list">
            <li class="header-nav-bar_list_item"><a href="index.html" class="header-nav-bar_list_link  ">
                 
                Prehľad
                <span class="header-notify text-small hide-s">84</span></a></li>
            <li class="header-nav-bar_list_item"><a href="schranka.html" class="header-nav-bar_list_link  with-subnav">
                 
                Schránka
                </a></li>
            <li class="header-nav-bar_list_item"><a href="dokumenty.html" class="header-nav-bar_list_link  with-subnav">
                 
                Dokumenty
                </a></li>
            <li class="header-nav-bar_list_item"><a href="sluzby.html" class="header-nav-bar_list_link active ">
                 
                Služby
                </a></li>
            <li class="header-nav-bar_list_item"><a href="kalendar.html" class="header-nav-bar_list_link  ">
                 
                Kalendár
                </a></li>
            <li class="header-nav-bar_list_item"><a href="statistiky.html" class="header-nav-bar_list_link  ">
                 
                Štatistiky
                </a></li>
          </ul>
        </nav>
      </section>
    </div>
    <!-- end: header-bar   -->
  </header>
  <div class="breadcrumbs"><a onclick="history.back()">&lsaquo; Späť</a>
    <ul class="breadcrumbs_list hide-xs">
      <li class="breadcrumbs_item"><a href="index.html" class="breadcrumbs_link">Domov</a></li>
      <li class="breadcrumbs_item">&rsaquo;</li>
      <li class="breadcrumbs_item"><a href="sluzby.html" class="breadcrumbs_link">Služby</a></li>
      <li class="breadcrumbs_item">&rsaquo;</li>
      <li class="breadcrumbs_item"><a href="sluzby-blank.html" class="breadcrumbs_link">Nová služba</a></li>
    </ul>
  </div>
  <main class="content-main">
    <div class="grid-12col">
      <div class="row">
        <div class="col-12 col-s-4 col-xs-2">
          <p class="text-big no-mrg-top">Zatiaľ ste ešte neprijali žiadnu zásielku. Aktivujte si elektronické faktúry cez UID a PIN, alebo presmerujte súčasné alebo nové elektornické faktúry na jedno miesto a to do Zelenej Pošty.</p>
          <p>
             
            Pridať odosielateľa môžete troma spôsobmi:
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-s-4 col-xs-2 no-mrg-top">
          <article class="box-simple no-mrg-top">
            <header class="box-simple_header">
              <h3 class="no-mrg">1. Zadaním UID a PIN</h3>
            </header>
            <div class="box-simple_content insert-uid-pin_box">
              <div class="row">
                <div class="col-12 col-s-4">
                  <p class="no-mrg-top">
                     
                    Prosím zadajte UID a PIN, ktoré sú zobrazené na vašej papierovej zásielke.
                  </p><img src="static/imgs/sticker_2x.png" alt="" class="img-fluid sticker">
                </div>
                <div class="col-12 col-s-4">
                  <div class="form-row">
                    <div class="form-label form-label-inline form-label-stack-xs form-col-4 form-col-m-5 form-col-s-5"></div>
                    <div class="form-controls form-col-6 form-col-m-7 form-col-s-6">
                      <div class="form-control">
                        <label class="form-help form-helper">* Všetky polia sú povinné</label>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-label form-label-inline form-label-stack-xs form-col-4 form-col-m-5 form-col-s-5">
                      <label>UID:</label>
                    </div>
                    <div class="form-controls form-col-6 form-col-m-7 form-col-s-7">
                      <div class="form-control">
                        <input type="text" placeholder="" class="input">
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-label form-label-inline form-label-stack-xs form-col-4 form-col-m-5 form-col-s-5">
                      <label>PIN:</label>
                    </div>
                    <div class="form-controls form-col-6 form-col-m-7 form-col-s-7">
                      <div class="form-control">
                        <input type="text" placeholder="" class="input">
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-label form-label-inline form-label-stack-xs form-col-4 form-col-m-5 form-col-s-5">
                      <label>Vlastné označenie:</label>
                    </div>
                    <div class="form-controls form-col-6 form-col-m-7 form-col-s-7">
                      <div class="form-control">
                        <input type="text" placeholder="" class="input">
                        <label class="form-help">Vlastné označenie sa bude zobrazovať v zozname odosielateľov</label>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-label form-label-inline form-col-4 form-col-m-5 form-col-s-5 hide-xs"></div>
                    <div class="form-controls form-col-7 form-col-m-7 form-col-s-7">
                      <div class="form-control no-mrg"><a title="Pridaním novej služby si aktivujete novú službu z torej Vám budú posielať Vaše faktúry priamo na jedno miesto do Zelenej Pošty." class="btn btn-green disabled js-tooltip-icon">Pridať novú službu</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="col-6 col-s-4 col-xs-2">
          <article class="box-simple no-mrg-top">
            <header class="box-simple_header">
              <h3 class="no-mrg">2. Posielanie zásielok na e-mail 
                <div class="email">120-123-456@zelenaposta.sk</div>
              </h3>
            </header>
            <div class="box-simple_content">
              <div class="row">
                <div class="col-12 col-s-4">
                  <p class="no-mrg-top"><strong>Ak máte aktivovanú elektornickú faktúru u vášho poskytovateľa:</strong></p>
                  <p>
                     
                    Stačí zmeniť adresu na webstránke vášho poskytovateľa na doručenie faktúr na adresu vášho konta: 123-123-132@zelenaposta.sk.
                  </p>
                  <p><strong>Ak máte aktivovanú elektornickú faktúru u vášho poskytovateľa:</strong></p>
                  <p>
                     
                    Stačí zmeniť adresu na webstránke vášho poskytovateľa na doručenie faktúr na adresu vášho konta: 123-123-132@zelenaposta.sk.
                  </p>
                </div>
                <div class="col-12 col-s-4">
                  <p class="no-mrg-top"><strong>Spoločnosti, ktoré poporujú elektronické faktúry:</strong></p>
                  <div class="logo-grid">
                    <div class="logo-grid_row">
                      <div class="logo-grid_item"><img src="static/imgs/content/logo-grid/o2.png" alt="" class="logo"></div>
                      <div class="logo-grid_item"><img src="static/imgs/content/logo-grid/telekom.png" alt="" class="logo"></div>
                      <div class="logo-grid_item"><img src="static/imgs/content/logo-grid/orange.png" alt="" class="logo"></div>
                    </div>
                    <div class="logo-grid_row">
                      <div class="logo-grid_item"><img src="static/imgs/content/logo-grid/sse.png" alt="" class="logo"></div>
                      <div class="logo-grid_item"><img src="static/imgs/content/logo-grid/upc.png" alt="" class="logo"></div>
                      <div class="logo-grid_item"><img src="static/imgs/content/logo-grid/zse.png" alt="" class="logo"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </main>
  <footer class="footer-main text-color-white">
    <div class="grid-12col">
      <div class="row">
        <div class="col-6 col-s-4 col-xs-2">
          <h3 class="footer-main_headline text-color-white">Zelená pošta</h3>
          <div class="row">
            <ul class="col-6 col-xs-2 nav-footer">
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Zelená pošta</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Posielať zásielky</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Prijímať zásielky</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Zelené tlačiareň</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Bločky</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Cenník</a></li>
            </ul>
            <ul class="col-6 col-xs-2 nav-footer">
              <li class="nav-footer_item"><a href="" class="nav-footer_link">O nás</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Novinky</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">FAQ</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Kontakt</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Všeobecné obchodné podmienky</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">API prepojenie</a></li>
            </ul>
          </div>
        </div>
        <div class="col-6 col-s-4 col-xs-2 col-space-s">
          <div class="row">
            <div class="col-6 col-xs-2 col-space-xs">
              <h3 class="footer-main_headline text-color-white">Mobilné aplikácie</h3>
              <ul class="nav-footer">
                <li class="nav-footer_item"><a href="https://itunes.apple.com/gb/app/zelena-posta/id687733400" class="nav-footer_link nav-footer_app"> <i class="icon icon-xl">apple</i></a><a href="https://play.google.com/store/apps/details?id=sk.zp.zelenapostaapp" class="nav-footer_link nav-footer_app"> <i class="icon icon-xl">android</i></a></li>
              </ul>
            </div>
            <div class="col-6 col-xs-2">
              <h3 class="footer-main_headline text-color-white">Sociálne siete</h3>
              <ul class="nav-footer">
                <li class="nav-footer_item"><a class="nav-footer_link nav-footer_social"><i class="icon icon-m nav-footer_icon">facebook</i><span>Facebook</span></a></li>
                <li class="nav-footer_item"><a class="nav-footer_link nav-footer_social"><i class="icon icon-m nav-footer_icon">youtube</i><span>Youtube</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="static/js/jquery.min.js"></script>
  <script type="text/javascript" src="static/js/jquery-migrate.min.js"></script>
  <script type="text/javascript" src="static/js/modernizr.js"></script>
  <script type="text/javascript" src="static/plugins/icomoon/liga.js"></script>
  <script type="text/javascript" src="static/plugins/customselect/dist/js/bootstrap-select.js"></script>
  <script type="text/javascript" src="static/plugins/switch/js/bootstrap-switch.js"></script>
  <script type="text/javascript" src="static/plugins/datepicker2/js/bootstrap-datepicker.js"></script>
  <script type="text/javascript" src="static/plugins/autosize/jquery.autosize.js"></script>
  <script type="text/javascript" src="static/plugins/remodal/src/jquery.remodal.js"></script>
  <script type="text/javascript" src="static/plugins/clockpicker/dist/jquery-clockpicker.js"></script>
  <script type="text/javascript" src="static/plugins/tooltipster/js/jquery.tooltipster.js"></script>
  <script type="text/javascript" src="static/js/main.js"></script>
</body></html>
