jade/compile/statistiky-months.jade
extends ../templates/layout

//- Options
block prepend opts
  - var pageID = 5;
  - var breadcrumbs = true;

//- Content
block append content

  main.content-main

    .grid-12col

      .row
        .col-12.col-s-3.ofst-s-center.col-xs-2
          h3.no-mrg Prehľad uhradených platieb

      .row
        .col-12

          .box-simple.box-headerless
            .box-simple_content 

              .row
                .col-9.col-s-4
                  .form-row
                    .form-controls.form-controls-inline.form-col-12
                      .form-control.form-control-fixed-4
                        select.js-select(multiple)
                          each option, key in ['Všetky','Orange Slovensko a.s.','Západoslovenská energetika a.s.','Slovak Telekom','Zelená pošta s.r.o.','O2 Slovakia, s.r.o.']
                            if key == 0
                              option(selected='selected') #{option}
                            else
                              option #{option}
                      .form-control.form-control-postfixed.form-control-fixed-4
                        input.input.js-datepicker(type='text', placeholder='mm.yyyy', data-date-format='dd.mm.yyyy', data-view=1) 
                        .form-control-addon
                          a.btn.btn-green.js-datepicker-btn
                            i.icon!= icons.calendar
                      .form-control.form-control-postfixed.form-control-fixed-4
                        input.input.js-datepicker(type='text', placeholder='mm.yyyy', data-date-format='dd.mm.yyyy', data-view=1) 
                        .form-control-addon
                          a.btn.btn-green.js-datepicker-btn
                            i.icon!= icons.calendar
                      .form-control.form-control-fixed-5
                        a.btn.btn-green Zobraziť graf

                .col-3.col-s-4
                  .btn-bar.btn-bar-stack
                    .btn-group.btn-group-stack-full-xs.pull-right.pull-left-s
                      a.btn.btn-white.active(href='statistiky-months.html') Mesačne
                      a.btn.btn-white(href='statistiky-year.html') Ročne
                    .btn-group.btn-group-stack-full-xs.pull-right.pull-left-s
                      a.btn.btn-white.active(href='statistiky-months.html', title='Stĺpcový graf')
                        i.icon= icons.barchart
                      a.btn.btn-white(href='statistiky-doughnut.html')
                        i.icon= icons.piechart

              .row.row-space
                .col-12
                  .chart_container
                    canvas#chart(data-chartype='bar')
                  .legend_container.js-legend_container
          

append pageScripts
  script(type='text/javascript', src='static/plugins/chartjs/Chart.js')
  script(type='text/javascript').
    var chartData = {
      labels: [
        "Januar",
        "Februar",
        "Marec ",
        "Aril",
        "Maj",
        "Jun"
      ],
      datasets: [
        {
          label: "Orange",
          fillColor: '#5ec258',
          strokeColor: '#5ec258',
          highlightFill: '#68c963',
          highlightStroke: '#68c963',
          data: [45,75,39,39,68,39],
        },
        {
          label: 'Telekom', 
          fillColor: '#d6ca42',
          strokeColor: '#d6ca42',
          highlightFill: '#e5d956',
          highlightStroke: '#e5d956',
          data: [88,79,79,120,81,80],
        }
      ]
    };

statistiky-months.html
<!DOCTYPE html>
<!--if IE 7<html class='no-js lt-ie9 lt-ie8 ie7 lang='en'>
-->
<!--if IE 8<html class='no-js lt-ie9 ie8' lang='en'>
-->
<!--if IE 9<html class="no-js ie9">
-->
<!--if gt IE 9<html class="no-js gt-ie9">
-->
<!--if !IE
<![IGNORE[--><!--[IGNORE[]]-->
<html class="no-js noie">
<!--
-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>Zelená Pošta</title>
  <meta name="author" content="Lighting Beetle s.r.o.">
  <meta name="description" content="Zelená Pošta">
  <meta name="keywords" content="Zelená Pošta">
  <link rel="icon" type="image/png" href="static/imgs/zep-favicon.png">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,600,700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="static/plugins/icomoon/style.css">
  <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
  <header class="header-main">
    <div class="header-bar">
      <section class="header-bar-right">
        <div class="header-control-bar"><a class="btn btn-white-2 pull-right">Odhlásiť</a>
          <div class="header-control-tabs"><a data-target="#main-nav" data-toggle="dropdown" class="header-control-tab show-s show-xs js-toggle"><span class="header-notify text-small">84</span><i class="icon icon-s">navicon</i></a><a data-target="#user-bar" data-toggle="dropdown" class="header-control-tab show-s show-xs js-toggle"><i class="icon icon-s">user</i></a><a href="nastavenia.html" class="header-control-tab"><i class="icon icon-s">settings</i></a></div>
        </div>
        <!-- end: header-control-bar-->
        <div id="user-bar" class="header-user-bar">
          <table>
            <tr>
              <td class="header-user-bar_info"><a class="header-user-bar_info_name">Michaela Kočiová</a><br><span class="header-user-bar_info_email">100-122-893@zelenaposta.sk</span></td>
              <td class="header-user-bar_credit"><a><b class='hide-xs'>Kredit:</b> 1984,00 &euro;</a></td>
            </tr>
          </table>
        </div>
        <!-- end: header-user-bar-->
        
      </section>
      <section class="header-bar-left hide-s"><a href="index.html" title="Zelená pošta" class="header-logo"><img src="static/imgs/zep-logo.svg" alt="Zelená pošta" class="img-fluid"></a></section>
      <section id="main-nav" class="header-bar-mid">
        <nav class="header-nav-bar">
          <ul class="header-nav-bar_list">
            <li class="header-nav-bar_list_item"><a href="index.html" class="header-nav-bar_list_link  ">
                 
                Prehľad
                <span class="header-notify text-small hide-s">84</span></a></li>
            <li class="header-nav-bar_list_item"><a href="schranka.html" class="header-nav-bar_list_link  with-subnav">
                 
                Schránka
                </a></li>
            <li class="header-nav-bar_list_item"><a href="dokumenty.html" class="header-nav-bar_list_link  with-subnav">
                 
                Dokumenty
                </a></li>
            <li class="header-nav-bar_list_item"><a href="sluzby.html" class="header-nav-bar_list_link  ">
                 
                Služby
                </a></li>
            <li class="header-nav-bar_list_item"><a href="kalendar.html" class="header-nav-bar_list_link  ">
                 
                Kalendár
                </a></li>
            <li class="header-nav-bar_list_item"><a href="statistiky.html" class="header-nav-bar_list_link active ">
                 
                Štatistiky
                </a></li>
          </ul>
        </nav>
      </section>
    </div>
    <!-- end: header-bar   -->
  </header>
  <div class="breadcrumbs"><a onclick="history.back()">&lsaquo; Späť</a>
    <ul class="breadcrumbs_list hide-xs">
      <li class="breadcrumbs_item"><a href="index.html" class="breadcrumbs_link">Domov</a></li>
      <li class="breadcrumbs_item">&rsaquo;</li>
      <li class="breadcrumbs_item"><a href="statistiky.html" class="breadcrumbs_link">Štatistiky</a></li>
    </ul>
  </div>
  <main class="content-main">
    <div class="grid-12col">
      <div class="row">
        <div class="col-12 col-s-3 ofst-s-center col-xs-2">
          <h3 class="no-mrg">Prehľad uhradených platieb</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="box-simple box-headerless">
            <div class="box-simple_content"> 
              <div class="row">
                <div class="col-9 col-s-4">
                  <div class="form-row">
                    <div class="form-controls form-controls-inline form-col-12">
                      <div class="form-control form-control-fixed-4">
                        <select multiple class="js-select">
                          <option selected="selected">Všetky</option>
                          <option>Orange Slovensko a.s.</option>
                          <option>Západoslovenská energetika a.s.</option>
                          <option>Slovak Telekom</option>
                          <option>Zelená pošta s.r.o.</option>
                          <option>O2 Slovakia, s.r.o.</option>
                        </select>
                      </div>
                      <div class="form-control form-control-postfixed form-control-fixed-4">
                        <input type="text" placeholder="mm.yyyy" data-date-format="dd.mm.yyyy" data-view='1' class="input js-datepicker">
                        <div class="form-control-addon"><a class="btn btn-green js-datepicker-btn"><i class="icon">calendar</i></a></div>
                      </div>
                      <div class="form-control form-control-postfixed form-control-fixed-4">
                        <input type="text" placeholder="mm.yyyy" data-date-format="dd.mm.yyyy" data-view='1' class="input js-datepicker">
                        <div class="form-control-addon"><a class="btn btn-green js-datepicker-btn"><i class="icon">calendar</i></a></div>
                      </div>
                      <div class="form-control form-control-fixed-5"><a class="btn btn-green">Zobraziť graf</a></div>
                    </div>
                  </div>
                </div>
                <div class="col-3 col-s-4">
                  <div class="btn-bar btn-bar-stack">
                    <div class="btn-group btn-group-stack-full-xs pull-right pull-left-s"><a href="statistiky-months.html" class="btn btn-white active">Mesačne</a><a href="statistiky-year.html" class="btn btn-white">Ročne</a></div>
                    <div class="btn-group btn-group-stack-full-xs pull-right pull-left-s"><a href="statistiky-months.html" title="Stĺpcový graf" class="btn btn-white active"><i class="icon">barchart</i></a><a href="statistiky-doughnut.html" class="btn btn-white"><i class="icon">piechart</i></a></div>
                  </div>
                </div>
              </div>
              <div class="row row-space">
                <div class="col-12">
                  <div class="chart_container">
                    <canvas id="chart" data-chartype="bar"></canvas>
                  </div>
                  <div class="legend_container js-legend_container"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer class="footer-main text-color-white">
    <div class="grid-12col">
      <div class="row">
        <div class="col-6 col-s-4 col-xs-2">
          <h3 class="footer-main_headline text-color-white">Zelená pošta</h3>
          <div class="row">
            <ul class="col-6 col-xs-2 nav-footer">
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Zelená pošta</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Posielať zásielky</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Prijímať zásielky</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Zelené tlačiareň</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Bločky</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Cenník</a></li>
            </ul>
            <ul class="col-6 col-xs-2 nav-footer">
              <li class="nav-footer_item"><a href="" class="nav-footer_link">O nás</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Novinky</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">FAQ</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Kontakt</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">Všeobecné obchodné podmienky</a></li>
              <li class="nav-footer_item"><a href="" class="nav-footer_link">API prepojenie</a></li>
            </ul>
          </div>
        </div>
        <div class="col-6 col-s-4 col-xs-2 col-space-s">
          <div class="row">
            <div class="col-6 col-xs-2 col-space-xs">
              <h3 class="footer-main_headline text-color-white">Mobilné aplikácie</h3>
              <ul class="nav-footer">
                <li class="nav-footer_item"><a href="https://itunes.apple.com/gb/app/zelena-posta/id687733400" class="nav-footer_link nav-footer_app"> <i class="icon icon-xl">apple</i></a><a href="https://play.google.com/store/apps/details?id=sk.zp.zelenapostaapp" class="nav-footer_link nav-footer_app"> <i class="icon icon-xl">android</i></a></li>
              </ul>
            </div>
            <div class="col-6 col-xs-2">
              <h3 class="footer-main_headline text-color-white">Sociálne siete</h3>
              <ul class="nav-footer">
                <li class="nav-footer_item"><a class="nav-footer_link nav-footer_social"><i class="icon icon-m nav-footer_icon">facebook</i><span>Facebook</span></a></li>
                <li class="nav-footer_item"><a class="nav-footer_link nav-footer_social"><i class="icon icon-m nav-footer_icon">youtube</i><span>Youtube</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="static/js/jquery.min.js"></script>
  <script type="text/javascript" src="static/js/jquery-migrate.min.js"></script>
  <script type="text/javascript" src="static/js/modernizr.js"></script>
  <script type="text/javascript" src="static/plugins/icomoon/liga.js"></script>
  <script type="text/javascript" src="static/plugins/customselect/dist/js/bootstrap-select.js"></script>
  <script type="text/javascript" src="static/plugins/switch/js/bootstrap-switch.js"></script>
  <script type="text/javascript" src="static/plugins/datepicker2/js/bootstrap-datepicker.js"></script>
  <script type="text/javascript" src="static/plugins/autosize/jquery.autosize.js"></script>
  <script type="text/javascript" src="static/plugins/remodal/src/jquery.remodal.js"></script>
  <script type="text/javascript" src="static/plugins/clockpicker/dist/jquery-clockpicker.js"></script>
  <script type="text/javascript" src="static/plugins/tooltipster/js/jquery.tooltipster.js"></script>
  <script type="text/javascript" src="static/plugins/chartjs/Chart.js"></script>
  <script type="text/javascript">
    var chartData = {
      labels: [
        "Januar",
        "Februar",
        "Marec ",
        "Aril",
        "Maj",
        "Jun"
      ],
      datasets: [
        {
          label: "Orange",
          fillColor: '#5ec258',
          strokeColor: '#5ec258',
          highlightFill: '#68c963',
          highlightStroke: '#68c963',
          data: [45,75,39,39,68,39],
        },
        {
          label: 'Telekom', 
          fillColor: '#d6ca42',
          strokeColor: '#d6ca42',
          highlightFill: '#e5d956',
          highlightStroke: '#e5d956',
          data: [88,79,79,120,81,80],
        }
      ]
    };
  </script>
  <script type="text/javascript" src="static/js/main.js"></script>
</body></html>
